<!--start-img-->
<div class="container-fluid">
  <div class="row row-img">
    <div class="col-md-12">
      <img class="img-responsive col-xs-12" src="/assets/bootstrap/img/media.jpg" alt="">
    </div>
  </div>
</div>
<!--end-img-->
<!--start-details-film-->
<div class="container-fluid">
  <div class="row row-details-film">
    <div class="title-film col-xs-10 col-xs-offset-1">
      <span class="title"><i class="fas fa-tag"></i>سر فصل دوره تخصصی انگولار پروژه محور</span>
    </div>
    <div class="body-film col-xs-10 col-xs-offset-1">
      <div class="panel-heading panel-heading-film">
        <strong class="panel-title"><i class="fas fa-check-circle"></i>فصل اول:<span>معرفی و مقدمه</span></strong>
        <a  class="btn btn-link pull-left" data-toggle="collapse" data-target="#collapse">نمایش جزئیات<i class="fas fa-angle-down"></i></a>
      </div>
      <div class="panel-body panel-body-film">
        <div id="collapse" class="collapse">
          <ul>
            <li><span>معرفی پروژه</span><a href="#" class="fas fa-download pull-left"></a><p class="pull-left">45:45</p></li>
            <li><span>نرم افزار های مورد نظر</span><a href="#" class="fas fa-download pull-left"></a><p class="pull-left">30:45</p></li>
            <li><span>کار با فریم ورک های مورد نظر</span><a href="#" class="fas fa-download pull-left"></a><p class="pull-left">35:22</p></li>
            <li><span>تعریف ابزار ها</span><a href="#" class="fas fa-download pull-left"></a><p class="pull-left">35:15</p></li>
            <li><span>کار با نرم افزار phpstorm</span><a href="#" class="fas fa-download pull-left"></a><p class="pull-left">50:10</p></li>
            <li><span>نصب نر افزار ها</span><a href="#" class="fas fa-download pull-left"></a><p class="pull-left">35:41</p></li>
            <li><span>انجام دستورات شرطی</span><a href="#" class="fas fa-download pull-left"></a><p class="pull-left">35:44</p></li>
            <li><span>قالب سایت</span><a href="#" class="fas fa-download pull-left"></a><p class="pull-left">35:47</p></li>
          </ul>
          <div class="panel-footer">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهو
              م از صنعت چاپ و با استفاده از طراحان گرا
              فیک است. چاپگرها و متون بلکه روزنامه و مج
              له در ستون و سطرآنچنان که لازم است و برا
              ی شرایط فعلی تکنولوژی مورد نیاز
              و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end-details-film-->
<!--start-details-film-->
<div class="container-fluid">
  <div class="row row-details-film">
    <div class="body-film col-xs-10 col-xs-offset-1">
      <div class="panel-heading panel-heading-film">
        <strong class="panel-title"><i class="fas fa-lock"></i>فصل دوم:<span>نصب نرم افزار و فایل های مورد نظر</span></strong>
        <a  class="btn btn-link pull-left" data-toggle="collapse" data-target="#collapse1">نمایش جزئیات<i class="fas fa-angle-down"></i></a>
      </div>
      <div class="panel-body panel-body-film">
        <div id="collapse1" class="collapse">
          <ul>
            <li><span>معرفی پروژه</span><a href="#" class="fas fa-lock pull-left"></a><p class="pull-left">35:11</p></li>
            <li><span>نرم افزار های مورد نظر</span><a href="#" class="fas fa-lock pull-left"></a><p class="pull-left">35:12</p></li>
            <li><span>کار با فریم ورک های مورد نظر</span><a href="#" class="fas fa-lock pull-left"></a><p class="pull-left">35:50</p></li>
            <li><span>تعریف ابزار ها</span><a href="#" class="fas fa-lock pull-left"></a><p class="pull-left">35:21</p></li>
            <li><span>کار با نرم افزار phpstorm</span><a href="#" class="fas fa-lock pull-left"></a><p class="pull-left">35:14</p></li>
            <li><span>نصب نر افزار ها</span><a href="#" class="fas fa-lock pull-left"></a><p class="pull-left">35:13</p></li>
            <li><span>انجام دستورات شرطی</span><a href="#" class="fas fa-lock pull-left"></a><p class="pull-left">35:33</p></li>
            <li><span>قالب سایت</span><a href="#" class="fas fa-lock pull-left"></a><p class="pull-left">35:32</p></li>
          </ul>
          <div class="panel-footer">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهو
              م از صنعت چاپ و با استفاده از طراحان گرا
              فیک است. چاپگرها و متون بلکه روزنامه و مج
              له در ستون و سطرآنچنان که لازم است و برا
              ی شرایط فعلی تکنولوژی مورد نیاز
              و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end-details-film-->
<!--start-description-period-->
<div class="container-fluid">
  <div class="row row-description">
    <div class="col-md-12">
      <span><i class="fas fa-user-graduate"></i>این دوره مربوط به چه افرادی می باشد؟</span>
    </div>
  </div>
  <div class="row row-description-period">
    <div class="col-md-12">
      <ul>
        <li><span>تمام افراد مبتدی و همچنین توسعه‌دهندگان حرفه‌ای و پیشرفته که علاقه‌مند به یادگیری یک فریم ورک سطح بالا هستند</span></li>
        <li><span>این دوره برای همه‌ی علاقه‌مندان به طراحی وب سمت کاربر (Frontend) و فول استک‌ها (Full Stack) مناسب است.</span></li>
        <li><span>افرادی که در هیچ زمینه ای کامپیوتری یاطراحی سایت فعالیت ندارن میتوانند با اموزش در این دوره به بهترین سطح از طراحی سایت برسن</span></li>
      </ul>
    </div>
  </div>
</div>
<!--end-description-period-->
<!--start-description-period-->
<div class="container-fluid">
  <div class="row row-description">
    <div class="col-md-12">
      <span><i class="fas fa-suitcase"></i>پیش نیاز های دوره برنامه نویسی php</span>
    </div>
  </div>
  <div class="row row-description-period">
    <div class="col-md-12">
      <ul>
        <li><span>توانایی در کد نویسی htmlو css دوره مقدماتی و پیشرفته</span></li>
        <li><span>دانش اولیه در ارتباط با زبان تایپ اسکریپت (TypeScript) - برای یادگیری اینجا کلیک کنید</span></li>
        <li><span>دانش اولیه و مقدماتی درباره زبان جاوا اسکریپت (JavaScript)</span></li>
        <li><span>نوانایی در کد نویسی به زبان php به صورت مقدماتنی</span></li>
        <li><span>توانیی در یادگیری زبان bootstrap به صورت پیشرفته</span></li>
      </ul>
    </div>
  </div>
</div>
<!--end-description-period-->
<!--start-description-period-->
<div class="container-fluid">
  <div class="row row-description">
    <div class="col-md-12">
      <span><i class="fas fa-gear"></i>توضیحات کامل راجب پروژه</span>
    </div>
  </div>
  <div class="row row-description-period">
    <div class="col-md-12">
      <p>تصمیم بگیر با دل خوشی‌های ساده معادله پیچیده زندگی را دور بزنی. در خنده اسراف کن و به غم پشت پا بزن. با باران هم آواز شو و بگذار خورشید تنت را لمس کند. به دورهمی دوستانت نه نگو و برای بودن در شادی‌ها بهانه نیاور. گذشته را به دفتر خاطراتت بچسبان و از دلخوشی‌های بندانگشتی ساده نگذر. مورچه‌ها را با هم به جدال بیانداز و برای گربه همسایه غذا بگذار. از درخت توت بالا برو و برای بازی ابرها دست تکان بده. با سایه‌ات شکلک بازی کن و در سرزمین تنهایی آواره نباش؛ خودت را دوست بدار و مثل صبح بعد از باران خنک باش و دلپذیر.برای هنرمند شدن لازم نیست حتما عینک گرد بزنی، لباس‌های سه سایز بزرگتر از خودت بپوشی، شال گردن بلد باشی گره بزنی، سیگار پشت سر هم دود کنی و آهنگ‌های خارجکی را از بَر باشی و بتوانی چند ساعت بی وقفه درباره رئالیسم و سورئالیسم و همه ایسم‌ها، حرف بزنی. برای هنرمند شدن حتی لازم هم نیست اسم تمام شخصیت‌های هنری را حفظ باشی و طوری از عمه فلان شاعر حرف بزنی که انگار با خدا بیامرز چند سالی کنار هم زندگی کرده‌اید، آن هم شبانه‌روزی.
        می‌توانی بلد هم نباشی طرحِ لبخندی مثل مونالیزا بزنی. برای هنرمند شدن کافی‌ست بتوانی چهره‌ها را طرح بزنی. لبخند زدنشان را، حرکت‌های خاصشان را، بلد باشی به موقع دستی بفشاری، لبخند بزنی، حرف بزنی، گوش بدهی و خیلی کارهای دیگر. حتی گاهی هنر است بلد بودن فاصله گرفتن و رفتن.
        هنر در زندگی جریان دارد. زندگی را هنرمندانه باید گذراند. هنرمند زندگی خود و اطرافیانتان باشید.</p>
      <ul>
        <span>توضیخات خاص</span>
        <li><span>توانایی در کد نویسی htmlو css دوره مقدماتی و پیشرفته</span></li>
        <li><span>دانش اولیه در ارتباط با زبان تایپ اسکریپت (TypeScript) - برای یادگیری اینجا کلیک کنید</span></li>
        <li><span>دانش اولیه و مقدماتی درباره زبان جاوا اسکریپت (JavaScript)</span></li>
        <li><span>نوانایی در کد نویسی به زبان php به صورت مقدماتنی</span></li>
        <li><span>توانیی در یادگیری زبان bootstrap به صورت پیشرفته</span></li>
      </ul>

    </div>
  </div>
</div>
<!--end-description-period-->
<!--start-description-period-->
<div class="container-fluid">
  <div class="row row-description">
    <div class="col-md-12">
      <span><i class="fas fa-bookmark"></i>دلیل استفاده از php</span>
    </div>
  </div>
  <div class="row row-description-period">
    <div class="col-md-12">
      <p>تصمیم بگیر با دل خوشی‌های ساده معادله پیچیده زندگی را دور بزنی. در خنده اسراف کن و به غم پشت پا بزن. با باران هم آواز شو و بگذار خورشید تنت را لمس کند. به دورهمی دوستانت نه نگو و برای بودن در شادی‌ها بهانه نیاور. گذشته را به دفتر خاطراتت بچسبان و از دلخوشی‌های بندانگشتی ساده نگذر. مورچه‌ها را با هم به جدال بیانداز و برای گربه همسایه غذا بگذار. از درخت توت بالا برو و برای بازی ابرها دست تکان بده. با سایه‌ات شکلک بازی کن و در سرزمین تنهایی آواره نباش؛ خودت را دوست بدار و مثل صبح بعد از باران خنک باش و دلپذیر.برای هنرمند شدن لازم نیست حتما عینک گرد بزنی، لباس‌های سه سایز بزرگتر از خودت بپوشی، شال گردن بلد باشی گره بزنی، سیگار پشت سر هم دود کنی و آهنگ‌های خارجکی را از بَر باشی و بتوانی چند ساعت بی وقفه درباره رئالیسم و سورئالیسم و همه ایسم‌ها، حرف بزنی. برای هنرمند شدن حتی لازم هم نیست اسم تمام شخصیت‌های هنری را حفظ باشی و طوری از عمه فلان شاعر حرف بزنی که انگار با خدا بیامرز چند سالی کنار هم زندگی کرده‌اید، آن هم شبانه‌روزی.
        می‌توانی بلد هم نباشی طرحِ لبخندی مثل مونالیزا بزنی. برای هنرمند شدن کافی‌ست بتوانی چهره‌ها را طرح بزنی. لبخند زدنشان را، حرکت‌های خاصشان را، بلد باشی به موقع دستی بفشاری، لبخند بزنی، حرف بزنی، گوش بدهی و خیلی کارهای دیگر. حتی گاهی هنر است بلد بودن فاصله گرفتن و رفتن.
        هنر در زندگی جریان دارد. زندگی را هنرمندانه باید گذراند. هنرمند زندگی خود و اطرافیانتان باشید.</p>
    </div>
  </div>
</div>
<!--end-description-period-->
<!--start-description-period-->
<div class="container-fluid">
  <div class="row row-description">
    <div class="col-md-12">
      <span><i class="fas fa-book-open"></i>سرفصل های دوره</span>
    </div>
  </div>
  <div class="row row-description-period">
    <div class="col-md-12">
      <ul>
        <span>مقدمه و معرفی</span>
        <li><span>توانایی در کد نویسی htmlو css </span></li>
        <li><span> برای یادگیری اینجا کلیک کنید</span></li>
        <li><span>دانش اولیه و مقدماتی درباره زبان جاوا)</span></li>
        <li><span>نوانایی در کد نویسی به زبان php ی</span></li>
        <li><span>توانیی در یادگیری زبان bootstrap ه</span></li>
      </ul>
      <ul>
        <span>شرح مختصر مفاهیم بنیادی</span>
        <li><span>و css دوره مقدماتی و پیشرفته</span></li>
        <li><span>دانش اولیه در ارتباط با زبان تایپ اسکریپت (TypeScript) - د</span></li>
        <li><span>دانش اولیه و مقدماتی درباره زبان جاوا</span></li>
        <li><span>نوانایی در کد نویسی به زبان php بی</span></li>
        <li><span> یادگیری زبان  به صورت پیشرفته</span></li>
      </ul>
      <ul>
        <span>پروژه ساخت وب سایت فروشگاه اینترنتی (قسمت اول)</span>
        <li><span>توانایی در کد  دوره مقدماتی و </span></li>
        <li><span>دانش اولیه در ارتباط با زبان تایپ  برای یادگیری اینجا کلیک کنید</span></li>
        <li><span>درباره زبان جاوا اسکریپت (JavaScript)</span></li>
        <li><span>نوانایی زبان php به صورت مقدماتنی</span></li>
        <li><span>توانیی در یادگیری ه</span></li>
      </ul>
      <ul>
        <span>خطایابی</span>
        <li><span>توانایی در کد نویسی htmlو css دوره مقدماتی و پیشرفته</span></li>
        <li><span>دانش اولیه در ارتباط با زبان تایپ اسکریپت (TypeScript) - برای یادگیری اینجا کلیک کنید</span></li>
        <li><span>دانش اولیه و مقدماتی درباره زبان جاوا اسکریپت (JavaScript)</span></li>
        <li><span>نوانایی در کد نویسی به زبان php به صورت مقدماتنی</span></li>
        <li><span>توانیی در یادگیری زبان bootstrap به صورت پیشرفته</span></li>
      </ul>
    </div>
  </div>
</div>
<!--end-description-period-->
<!--start-description-period-->
<div class="container-fluid">
  <div class="row row-description">
    <div class="col-md-12">
      <span><i class="fas fa-gears"></i>تفاوت برنامه نویسی php با asp</span>
    </div>
  </div>
  <div class="row row-description-period">
    <div class="col-md-12">
      <ul>
        <span>مزایا و معایب برنامه نویسی php</span>
        <li><span>توانایی در کد نویسی htmlو css دوره مقدماتی و پیشرفته</span></li>
        <li><span>دانش اولیه در ارتباط با زبان تایپ اسکریپت (TypeScript) - برای یادگیری اینجا کلیک کنید</span></li>
        <li><span>دانش اولیه و مقدماتی درباره زبان جاوا اسکریپت (JavaScript)</span></li>
        <li><span>نوانایی در کد نویسی به زبان php به صورت مقدماتنی</span></li>
        <li><span>توانیی در یادگیری زبان bootstrap به صورت پیشرفته</span></li>
      </ul>
      <ul>
        <span>مزایا و معایب برنامه نویسی asp.net</span>
        <li><span>توانایی در کد نویسی htmlو css دوره مقدماتی و پیشرفته</span></li>
        <li><span>دانش اولیه در ارتباط با زبان تایپ اسکریپت (TypeScript) - برای یادگیری اینجا کلیک کنید</span></li>
        <li><span>دانش اولیه و مقدماتی درباره زبان جاوا اسکریپت (JavaScript)</span></li>
        <li><span>نوانایی در کد نویسی به زبان php به صورت مقدماتنی</span></li>
        <li><span>توانیی در یادگیری زبان bootstrap به صورت پیشرفته</span></li>
      </ul>
    </div>
  </div>
</div>
<!--end-description-period-->

