<!--start-img-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

<!--      <vg-player>-->
<!--        <vg-overlay-play></vg-overlay-play>-->
<!--        <vg-buffering></vg-buffering>-->

<!--        <vg-scrub-bar>-->
<!--          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>-->
<!--          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>-->
<!--        </vg-scrub-bar>-->

<!--        <vg-controls>-->
<!--          <vg-play-pause></vg-play-pause>-->
<!--          <vg-playback-button></vg-playback-button>-->

<!--          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>-->

<!--          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>-->

<!--          <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>-->
<!--          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>-->

<!--          <vg-track-selector></vg-track-selector>-->
<!--          <vg-mute></vg-mute>-->
<!--          <vg-volume></vg-volume>-->

<!--          <vg-fullscreen></vg-fullscreen>-->
<!--        </vg-controls>-->

<!--        <video [src]="course['Episode'][0].videoUrl" [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>-->
<!--&lt;!&ndash;          <source [src]="course['Episode'][0].videoUrl" type="video/mp4">&ndash;&gt;-->
<!--&lt;!&ndash;          <source [src]="course['Episode'][0].videoUrl" type="video/webm">&ndash;&gt;-->
<!--&lt;!&ndash;          <source [src]="course['Episode'][0].videoUrl" type="video/ogg">&ndash;&gt;-->


<!--        </video>-->
<!--      </vg-player>-->



    </div>
  </div>
</div>
<!--end-img-->
<!--start-details-film-->
<div class="container-fluid">
  <div class="row row-details-film">
    <div class="title-film col-xs-10 col-xs-offset-1">
      <span class="title"><i class="fas fa-tag"></i>سر فصل دوره تخصصی {{course['title']}}</span>
    </div>
    <div class="body-film col-xs-10 col-xs-offset-1" *ngFor="let item of data['Episode']">
      <div class="panel-heading panel-heading-film">
        <strong class="panel-title"><i class="fas fa-check-circle"></i>{{item.title}}</strong>
        <a class="pull-left " href=""><i class="glyphicon glyphicon-download-alt text-muted"></i></a>
        <span class="pull-left">{{item.time}}</span>
        <span class="pull-left">{{item.type}}</span>
      </div>
      <div class="panel-footer" [innerHTML]="item.body">

      </div>
    </div>
  </div>
</div>
<!--end-details-film-->
<!--start-details-film-->

<!--end-details-film-->
<!--start-description-period-->
<div class="container-fluid">
  <div class="row row-description">
    <div class="col-md-12">
      <span><i class="fas fa-user-graduate"></i>توضیحات در مورد دوره</span>
    </div>
  </div>
  <div class="row row-description-period">
    <div class="col-md-12" [innerHTML]="data['detail']">

    </div>
  </div>
</div>
<!--end-description-period-->
<!--start-description-period-->



