/*start-img*/
.container-fluid .row-img{
  margin-top: 10px;
}
/*end-img*/
/*start-details-film*/
.container-fluid .row-details-film .title-film{
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0px 15px 15px;
}
.container-fluid .row-details-film .title-film span{
  font-family:IRANSans_Bold;
  font-size: 18px;
  border-bottom: 1px solid #ffa331;
  padding: 13px 0px 13px 13px;
}
.container-fluid .row-details-film .title-film span i{
  margin-left: 5px;
  color: #ffa331;
}
.container-fluid .row-details-film .body-film{
  border: 1px solid #908b8b61;
  box-shadow: 0px 0px 10px 4px #dddddd;
  margin-top: 15px;
}
.container-fluid .row-details-film .body-film .panel-heading-film strong i{
  background-color: #ffa331;
  border-radius: 100%;
  padding: 10px;
  color: #ffffff;
  margin-right: -35px;
  position: absolute;
  margin-top: 10px;
}
.container-fluid .row-details-film .body-film .panel-heading-film{
  border-bottom: 1px solid #eeeeee;
  padding: 5px;
}
.container-fluid .row-details-film .body-film .panel-heading-film strong{
  font-family: IRANSans_Bold;
}
.container-fluid .row-details-film .body-film .panel-heading-film span{
  font-family: IRANSans_Light;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: normal;
  background: #009c7d;
  padding: 5px;
  margin-left: 10px;
}
.container-fluid .row-details-film .body-film .panel-heading-film a{
  background: #009c7d;
  padding: 5px 7px;
  border-radius: 15px;
  color: #FFFFFF;
}
.container-fluid .row-details-film .body-film  .panel-footer{
  background: none;
  border:none;
  padding-bottom: 0;
}
.container-fluid .row-details-film .body-film  .panel-footer p{
  font-family:mitra-font;
  font-size: 14px;
  text-align: justify;
  padding: 0;
  line-height: 2;
}
/*end-details-film*/
/*start-description-period*/
.container-fluid .row-description{
  margin-top: 20px;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0px 10px 10px;
}
.container-fluid .row-description .col-md-12{
  padding: 0px;
}
.container-fluid .row-description span{
  font-family: IRANSans_Bold;
  font-size: 18px;
  border-bottom: 1px solid #ffa331;
  padding: 8px;
}
.container-fluid .row-description span i{
  margin-left: 10px;
  color: #ffa331;
}
.container-fluid .row-description-period .col-md-12{
  text-align: justify;
}
.container-fluid .row-description-period p{
  font-family: mitra-font;
  line-height: 2;
  font-size: 18px;
}
.container-fluid .row-description-period ul{
  margin-top: 10px;
}
.container-fluid .row-description-period ul span{
  font-family: IRANSans_Bold;
}
.container-fluid .row-description-period ul li{
  padding: 10px;
  list-style-image: url("/assets/bootstrap/img/falash.png");
}
.container-fluid .row-description-period ul li span{
  font-family: mitra-font;
  font-size: 18px;
  text-align:justify ;
}
/*end-description-period*/

