<!--start-img-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

<!--      <vm-player autoplay muted>-->
<!--        <vm-video poster="/media/poster.png" cross-origin>-->
<!--          &lt;!&ndash; Why `data-src`? Lazy loading. You can always use `src` if you don't need it. &ndash;&gt;-->
<!--          <source data-src="/media/video.mp4" type="video/mp4" />-->
<!--          <track-->
<!--            default-->
<!--            kind="subtitles"-->
<!--            src="/media/subs/en.vtt"-->
<!--            srclang="en"-->
<!--            label="English"-->
<!--          />-->
<!--        </vm-video>-->

<!--        &lt;!&ndash; Loads the default Vime UI. &ndash;&gt;-->
<!--        <vm-default-ui />-->
<!--      </vm-player>-->
<div>
  <video controls (click)="toggleVideo($event)"  #videoPlayer>
    <source [src]="course['Episode'][0].videoUrl" type="video/mp4" />
    Browser not supported
  </video>
</div>


    </div>
  </div>
</div>
<!--end-img-->
<!--start-details-film-->
<div class="container-fluid">
  <div class="row row-details-film">
    <div class="title-film col-xs-10 col-xs-offset-1">
      <span class="title"><i class="fas fa-tag"></i>سر فصل دوره تخصصی {{course['title']}}</span>
    </div>
    <div class="body-film col-xs-10 col-xs-offset-1" *ngFor="let item of data['Episode']">
      <div class="panel-heading panel-heading-film">
        <strong class="panel-title"><i class="fas fa-check-circle"></i>{{item.title}}</strong>
        <a class="pull-left " href=""><i class="glyphicon glyphicon-download-alt text-muted"></i></a>
        <span class="pull-left">{{item.time}}</span>
        <span class="pull-left">{{item.type}}</span>
      </div>
      <div class="panel-footer" [innerHTML]="item.body">

      </div>
    </div>
  </div>
</div>
<!--end-details-film-->
<!--start-details-film-->

<!--end-details-film-->
<!--start-description-period-->
<div class="container-fluid">
  <div class="row row-description">
    <div class="col-md-12">
      <span><i class="fas fa-user-graduate"></i>توضیحات در مورد دوره</span>
    </div>
  </div>
  <div class="row row-description-period">
    <div class="col-md-12" [innerHTML]="data['detail']">

    </div>
  </div>
</div>
<!--end-description-period-->
<!--start-description-period-->



