<app-top-menu></app-top-menu>
<app-center-menu></app-center-menu>
<app-menu></app-menu>
<!--!&#45;&#45;start-about-us&ndash;&gt;-->
<div class="container">
  <div class="col-md-4 ">
    <div class="row row-about-top">
      <div class="caption">
        <span>درباره تیم همراه دانش</span>
      </div>
      <img class="img-responsive center-block" src="../../../assets/bootstrap/img/about.png" alt="">
    </div>
  </div>
  <div class="col-md-8">
    <div class="row row-about-down text-center">
      <span>چرا همراه دانش؟</span>
      <p>این سوال خیلی برای کاربران ما پیش تمده و حتا برای شما چرا باید از همراه دانش استفاده کنیم.</p>
      <p>1.همراه دانش فقط یک پلتفرم ارائه ویدئوی آموزشی نیست، ما در بنیاد علمی آموزشی همراه دانش پس از شناسایی نقاط قوت بازار کار با ارائه آموزش های مرتبط، دانشجو را به سمت بازار کار سوق میدهیم.</p>
      <p>2.یعنی آموزش های همراه دانش بر پایه ی استانداردها و موارد مورد نیاز در بازار کار برنامه نویسی جهت رفع خلع بین دانشگاه و صنعت، تولید و عرضه شده است.</p>
      <p>3.آموزش ها ضمن پوشش موارد تئوری مورد نیاز ، روی جنبه عملی و پروژه محور بودن تمرکز دارد.</p>
      <p>4. اساتید همراه دانش از خبرگان و افراد مورد تایید با تجربه در بازار کار برنامه نویسی انتخاب می شوند.</p>
      <p>5.پکیج های ویژه آموزشی همراه دانش که در نوع خود از نظر کمی و کیفی بینظیر است با همین رویکرد سرفصل بندی و از مقدماتی ترین نکات برای افراد مبتدی تا حرفه ای ترین قسمت های انجام پروژه های مرسوم در بازار کار را پوشش می دهد.</p>
      <p>6. پس اگر شما هم برای آینده خود در حال برنامه ریزی هستید و یا در حال پایه ریزی استارت آپ خود می باشید ، آموزش های پروژه محور و پکیج های آموزشی همراه دانش یکی از راه های رسیدن به هدف و اقدامی ۱۰۰ درصد عملیاتیست.</p>
    </div>
  </div>
</div>
<!--and-about-us-->
<app-footer></app-footer>
