<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img src="../../../assets/bootstrap/img/slider1.jpeg" alt="first slide" >
    <div class="carousel-caption d-none d-md-block">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/bootstrap/img/slider2.jpeg" alt="first slide" >
    <div class="carousel-caption d-none d-md-block">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <img src="../../../assets/bootstrap/img/slider1.jpeg" alt="first slide" >
    <div class="carousel-caption d-none d-md-block">
    </div>
  </ng-template>
</owl-carousel-o>
