<app-top-menu></app-top-menu>
<app-center-menu></app-center-menu>
<app-menu></app-menu>
<div class="container-fluid">
  <div class="row support-top">
    <img class="img-responsive" src="../../../../assets/bootstrap/img/support.png" alt="">
    <h4>پشتیبانی</h4>
    <div class="clearfix"></div>
    <span>پاسخگویی شما هستیم</span>
  </div>
  <div class="row row-center-support">
    <span>پشتیبانی 7 روز هفته 24 ساعت</span>
  </div>
  <div class="row row-down">
    <div class="col-sm-8 col-sm-offset-2">
      <p>توجه به نیازهای مشتریان در جهت پاسخگویی موثر به نیازها و جلب رضایت و خوشنودی ایشان، ما را بر آن داشت تا با گردآوری اشخاص مجرب در زمینه پشتیبانی، به صورت 24 ساعته و در تمام طول هفته سعی در برآورده کردن نیازهای مشتریان خود داشته باشیم.</p>
      <span>کاربران گرامی برای ارسال درخواست و پیگیری در خواست خود لطفا بر روی مربوطه کلیک فرمایید با تشکر.<a href="#">ثبت سوال</a></span>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-4">
      <div class="row row-box-support">
        <div class="panel-heading">
          <h4>نحوه همکاری</h4>
        </div>
        <div class="panel-body">
          <p>توجه به نیازهای مشتریان در جهت پاسخگویی موثر به نیازها و جلب رضایت و خوشنودی ایشان، ما را بر آن داشت تا با گردآوری اشخاص مجرب در زمینه پشتیبانی، به صورت 24 ساعته و در تمام طول هفته سعی در برآورده کردن نیازهای مشتریان خود داشته باشیم.</p>
        </div>
        <div class="panel-footer">
          <a href="#">اطلاعات بیشتر</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row row-box-support">
        <div class="panel-heading">
          <h4>نحوه همکاری</h4>
        </div>
        <div class="panel-body">
          <p>توجه به نیازهای مشتریان در جهت پاسخگویی موثر به نیازها و جلب رضایت و خوشنودی ایشان، ما را بر آن داشت تا با گردآوری اشخاص مجرب در زمینه پشتیبانی، به صورت 24 ساعته و در تمام طول هفته سعی در برآورده کردن نیازهای مشتریان خود داشته باشیم.</p>
        </div>
        <div class="panel-footer">
          <a href="#">اطلاعات بیشتر</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row row-box-support">
        <div class="panel-heading">
          <h4>نحوه همکاری</h4>
        </div>
        <div class="panel-body">
          <p>توجه به نیازهای مشتریان در جهت پاسخگویی موثر به نیازها و جلب رضایت و خوشنودی ایشان، ما را بر آن داشت تا با گردآوری اشخاص مجرب در زمینه پشتیبانی، به صورت 24 ساعته و در تمام طول هفته سعی در برآورده کردن نیازهای مشتریان خود داشته باشیم.</p>
        </div>
        <div class="panel-footer">
          <a href="#">اطلاعات بیشتر</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
