.container-fluid .support-top img{
  width: 100%;
  height: 200px;
}
.container-fluid .support-top h4{
  border-bottom: 4px solid #da285a;
  position: absolute;
  color: #fff;
  font-family: IRANSans_Bold;
  font-size: 24px;
  top: 250px;
  width: 500px;
  padding: 10px 0px;
  margin-right: 15px;
}
.container-fluid .support-top span{
  position: absolute;
  color: #fff;
  font-family: IRANSans_Bold;
  font-size: 24px;
  top: 320px;
  margin-right: 15px;
}
.container-fluid .row-center-support{
  background: #e8e8e8;
  padding: 10px;
}
.container-fluid .row-center-support span{
  font-family: IRANSans_Bold;

}
.container-fluid .row-down .col-sm-8 p{
  font-family: IRANSans_Light;
  font-size: 14px;
  line-height: 2;
  text-align: justify;
  margin-top: 20px;

}
.container-fluid .row-down .col-sm-8  span{
  font-family: IRANSans_Bold;
  font-size: 14px;
  line-height: 2;
  text-align: justify;
  margin-top: 20px;
}
.container-fluid .row-down .col-sm-8  span a{
  text-decoration: none;
  font-family: IRANSans_Bold;
}
.container-fluid .container{
  margin-top: 20px;
}
.container-fluid .container .row-box-support{
  margin: 0px;
}
.container-fluid .container .row-box-support .panel-heading h4{
  font-family: IRANSans_Bold;
}
.container-fluid .container .row-box-support .panel-body p{
  font-family: IRANSans_Light;
  text-align: justify;
}
.container-fluid .container .row-box-support .panel-footer{
  border-top: none;
}
.container-fluid .container .row-box-support .panel-footer a{
  font-family: IRANSans_Light;
  text-decoration: none;
  color: #000000;
}

