
.center {
  position: relative;
  top: 50%;
  //left: 50%;
  //-webkit-transform: translate(-50%, -50%);
}
.card {
  width: 400px;
  height: 250px;
  background: linear-gradient(#fff, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}
.card h1 {
  text-align: center;
  margin-right: 150px;
  font-size:15px;
  font-family: IRANSans_Bold;
  color: #000000;
}
.card p{
  font-size:15px;
  font-family: IRANSans_Light;
}
.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: #03af8c ;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}
.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}
.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}
.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}
.card .additional .user-card .level {
  top: 0%;
  color: #fff;
  font-size: 0.75em;
  font-family: IRANSans_Light;
  font-weight: bold;
  background:  #ff7800;
  padding: 0.80rem 0.75rem;
  border-radius: 3px;
  white-space: nowrap;
}
.card .additional .user-card .points {
  top:75%;
  color: #fff;
  font-size: 0.75em;
  font-family: IRANSans_Light;
  font-weight: bold;
  background:  #ff7800;
  padding: 0.8rem 0.75rem;
  border-radius: 3px;
  white-space: nowrap;
}
.card .additional .user-card svg {
  top: 50%;
}
.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}
.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}
.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}
.card .additional .coords span + span {
  float: right;
}
.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right:4rem;
  top: auto;
  color: #fff;
}
.card .additional .stats > div {
  flex: 1;
  text-align: center;
}
.card .additional .stats i {
  display: block;
}
.card .additional .stats div.title {
  font-size:1.1rem;
  font-family: IRANSans_Light;
  //font-weight: bold;

}
.card .additional .stats div.value {
  font-size: 1.5rem;
  margin-top: 10px;
  font-family: IRANSans_Light;
  line-height: 1.5rem;
}
.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}
.card .general {
  width: 400px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}
.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}
.btn-cartshop,.btn-detail{
  font-family: IRANSans_Light;
  font-size: 12px;

}
