<app-top-menu></app-top-menu>
<app-center-menu></app-center-menu>
<app-menu></app-menu>
<mat-sidenav-container class="sidenav-container" dir="rtl">
  <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar class="title-sidebar">پنل کاربر</mat-toolbar>
    <hr style="margin-top: -10px"/>
    <mat-nav-list>
      <a mat-list-item class="" [routerLink]="['/user/panel/Counteruser']">
        <i class="pi pi-home pl-auto"></i>پیشخوان</a>

      <p-accordion>
        <p-accordionTab header="وضعیت">
          <mat-list>
            <mat-list-item routerLink="./Products">محصولات من</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="./Purchases">خرید های من</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="./Courses">دورهای من</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="./sales">فروش های من</mat-list-item>
          </mat-list>
        </p-accordionTab>
        <p-accordionTab header="امور مالی">
          <mat-list>

            <mat-list-item routerLink="./accountBank"> تائید حساب بانکی</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="./transation">تراکنش ها</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="./Reports">گزارش ها</mat-list-item>
          </mat-list>
        </p-accordionTab>
        <p-accordionTab header="سامانه">
          <mat-list>
            <mat-list-item routerLink="./SubscriberAffairs">سامانه امور مشترکین</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="./SupportTicket">تیکت های پشتیبانی</mat-list-item>
          </mat-list>
        </p-accordionTab>
        <p-accordionTab header="اعلانات">
          <mat-list>
            <mat-list-item routerLink="./newpaper">رسانه</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="./Counteruser">تابلو اعلانات</mat-list-item>
          </mat-list>
        </p-accordionTab>
        <p-accordionTab header="تنظیمات حساب ">
          <mat-list>
            <mat-list-item>تنظیما حساب کاربری</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </p-accordionTab>
        <p-accordionTab header="تنظیمات پروفایل ">
          <mat-list>
            <mat-list-item routerLink="./UserSetting">وارد کردن مشخصات</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </p-accordionTab>
      </p-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>


    <p-toolbar>
      <div class="ui-toolbar-group-right">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <div class="pi pi-bars"></div>
        </button>
      </div>

<!--      <div class="ui-toolbar-group-left">-->
<!--        <p-menubar [model]="items">-->
<!--          <img src="../../../../assets/img/avator.jpg" style="width: 45px;height:45px;border-radius: 50px">-->
<!--        </p-menubar>-->
<!--      </div>-->
    </p-toolbar>


    <ng-content>

    </ng-content>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



