.sidenav-container {
  height: 100%;
  width: 100%;
}
:host::ng-deep i.pi.pi-home.pl-auto {
  color: #ffa331;
}
.sidenav {
  top:259px!important;
  width: 250px;
  background: #03af8c;
  border-left: none;
}
.title-sidebar{
  font-family: IRANSans_Bold;
  font-size: 16px;
  color: #FFFFFF;
  padding-right: 40px;
  text-align: center;
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
mat-toolbar a{
  display: inline-block;
  margin:  0 10px;
  color: #FFFFFF;
  text-decoration: none;
  font-family: IRANSans_Light;
  font-size: 16px;
}
mat-nav-list a{
  font-family:IRANSans_Light;
  font-size: 16px;
  color: #FFFFFF;
}
::ng-deep.ng-content{
  background-color: #999999;
}
mat-toolbar{
  text-align: center;
}

mat-form-field{
  font-family:  IRANSans_Bold;
}
mat-datepicker{
  font-family: IRANSans_Bold!important;

}
::ng-deep.mat-calendar-content {
  font-family:  IRANSans_Bold!important;
}
::ng-deep.mat-button-wrapper{
  font-family:  IRANSans_Bold!important;

}
::ng-deep.mat-calendar-body-cell-content:hover{
  background-color:  #03af8c !important;
  color:white;
}
::ng-deep.mat-calendar-body-today{
  background-color: #00C851!important;
  color:white;
}
.title-profile{
  font-family:  IRANSans_Bold!important;
  font-size: 16px;
}
.profile{
  margin-top: 10px;
  margin-right: 30px;
  border-radius: 50%;
}

 ::ng-deep.ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon{
   float: left!important;
}
::ng-deep .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: #FFFFFF;
  float: left;
}
::ng-deep.ui-accordion .ui-accordion-header a {
  color: #FFFFFF !important;
  background:none !important;
  //padding-bottom: 1em!important;
  //padding-right: 1em!important;
  font-weight: 700;
  transition: background-color 0.2s;
}
::ng-deep.ui-accordion .ui-accordion-content {
  background-color:#03af8c !important;
  border: none!important;
}
::ng-deep.ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color:#ffa331 !important;
}
::ng-deep.ui-accordion .ui-accordion-header a {
  padding: 0.571em 1em;
   border: none!important;
}
.list-group-item {
background-color: #c7ecee !important;
border: none !important;
color: #fff !important;
}
mat-list-item{
color: #fff;
}
mat-divider{
  color: #FFFFFF  !important;
}
.mat-dividerMenu{
  color: #22a6b3 ;

}
::ng-deep.ui-accordion .ui-accordion-header {
  margin-bottom: 4px!important;
  border-bottom: 1px solid #c7ecee!important;
}
::ng-deep.ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: #03af8c !important;
  border: 1px solid #03af8c !important;
  color: #FFFFFF  !important;
}
p-accordionTab{
  font-family: IRANSans_Light;
}
::ng-deep.ui-toolbar{
  background:none !important;
}
:host::ng-deep.ui-menubar {
  background-color:#03af8c !important;
  border: 1px solid #FFFFFF !important;
  color:white!important;
  font-family: IRANSans_Bold;
}
::ng-deep.ui-menubar .ui-menuitem-link,.ui-menubar .ui-menuitem-link .ui-menuitem-text{
  color:white!important;
  background-color:#03af8c!important;
}
::ng-deep.ui-menubar .ui-menuitem-link .ui-menuitem-text{
  color:white!important;
}
::ng-deep.ui-menubar .ui-menuitem-link .ui-menuitem-icon{
  color:white!important;
}
::ng-deep.ui-accordion .ui-accordion-content {
  margin-top: -20px!important;
}
:host::ng-deep .ui-accordion .ui-accordion-header {
  margin-bottom: 0px !important;
   border-bottom: none !important;
}
:host::ng-deep.ui-toolbar {

border: none !important;
}
