.container .caption{
  background: linear-gradient(#F8F8F8,#fff);
  padding: 10px;
  margin: 10px 0px;
}
.container .caption .col-sm-12 span{
  font-family: IRANSans_Bold;
  font-size: 18px;
  padding: 10px;
}
.container .caption .col-sm-8 p{
  font-family: IRANSans_Light;
  font-size: 14px;
  text-align: justify;
  line-height: 2;
}
.container .caption .col-sm-4 img{
  width: 100%;
}
.container .row p-accordionTab{
  font-family:IRANSans_Bold;
}
.container .row p-accordionTab p{
  font-family: IRANSans_Light;
  text-align: justify;
  line-height: 2;
}
.container .row-form .caption{
  background: linear-gradient(#f5f5f5 ,#fafafa );
  padding: 10px;
}
.container .row-form .caption span{
  font-family: IRANSans_Bold;
  font-size: 18px;
  margin-right: 20px;
}
.container .row-form {
  margin-bottom: 15px
}
.container .row-form .form-group{
  margin: 0;
}
.container .row-form .form-group input::placeholder{
  font-family: IRANSans_Bold;
}
.container .row-form .col-sm-12 textarea{
  margin-top: 15px;
  width: 100%;
}
.container .row-form .col-sm-12 textarea::placeholder{
  font-family: IRANSans_Bold;
}
label{font-family: IRANSans_Bold;}
input,textarea{font-family: IRANSans_Light;}
::ng-deep.ui-message-text{font-family: IRANSans_Light;}
::ng-deep.ui-panel .ui-panel-titlebar {
  font-family: IRANSans_Bold;
  background-color: #03af8c!important;
  color: white!important;

}
::ng-deep.ui-button {
  font-family: IRANSans_Bold!important;
  background-color: #03af8c !important;
}
