<div class="container">
  <div class="row row-film">
    <div class="caption">
      <span>همه مطالب</span>
      <a class="pull-left" routerLink="/Courses/films">همه<i class="fas fa-angle-left"></i></a>
    </div>
    <div class="card-content">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
           <div class="col-md-3" *ngFor="let item of listCourse">
            <div class="thumbnail thumbnail-body-film" >
              <a [routerLink]="['./detail',item._id]">
                <div class="panel-heading">
                  <img class="img-responsive" src="../../../../assets/bootstrap/img/box.jpg"  alt="">
                  <a>{{item.price}}تومان</a>
                </div>
                <div class="panel-body">
                  <a href="#"><span><i class="fa fa-circle"></i>{{item.title}}</span></a>
                </div>
              </a>
              <a routerLink="/detail">
                <div class="panel-footer">
                  <img class="img-responsive img-circle" src="/assets/bootstrap/img/default.png" alt="">
                  <span class="pull-left" >رسول صیدی پیری</span>
                </div>
              </a>
            </div>
          </div>
        </ng-template>

      </owl-carousel-o>

    </div>
  </div>
</div>

