<div class="container">
  <div class="row">
    <div class="col-md-11">
      <div class="panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <span>فروش های من</span>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class=" col-md-12">
            <table class="table  table-striped table-hover table-condensed table-responsive">
              <thead>
              <tr>
                <th>عنوان</th>
                <th>نام کاربری خریدار	</th>
                <th>تاریخ خرید</th>
                <th>مبلغ</th>
                <th>سهم شما</th>
                <th>انقضاء پشتیبانی</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th>بلتلبلتل</th>
                <th>1399/12/12</th>
                <th>800000</th>
                <th>بزلتلاتل</th>
                <th>123456789</th>
                <th>123456789</th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

