
    <div class="col-md-12">
      <div class="panel-default">
        <div class="panel-heading">
              <span>فروش های من</span>

        </div>
        <div class="panel-body">
            <table class="table  table-striped table-hover table-condensed table-responsive">
              <thead>
              <tr>
                <th>عنوان</th>
                <th>تاریخ خرید</th>
                <th>ساعت</th>
                <th>مبلغ</th>
                <th>سهم شما</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of listbasket">
                <th *ngIf="item.Question.length>0">{{item.Question[0].title}}</th>
                <th *ngIf="item.course.length>0">{{item.course[0].title}}</th>
                <th>{{item.date}}</th>
                <th>{{item.time}}</th>
                <th>{{item.price}}</th>
                <th>{{item.price-(item.price*30)/100}}</th>
              </tr>
              </tbody>
            </table>

        </div>
      </div>
    </div>


