.container .row .panel-default{
  margin-top: 10px;
  border: 1px solid #eeeeee;
}
.container .row .panel-default .panel-heading .row{
  font-family: IRANSans_Bold;
}
.container .row .panel-default .panel-heading .row .col-md-6 a{
  font-family: IRANSans_Light;
  font-size: 15px;
  text-decoration: none;
  color: #ff5000;
}
.container .row .panel-default .panel-heading .row .col-md-6 a:hover{
  color: #03af8c;
}
.container .row .panel-default .panel-body ul li{
  list-style: none;
  line-height: 2;
}
.container .row .panel-default .panel-body ul li span{
  float: right;
  font-family: IRANSans_Bold;
  margin-left: 10px;
  margin-top: 2px;
}
.container .row .panel-default .panel-body ul li a{
  font-family: IRANSans_Light;
  color: #03af8c;
  font-size: 14px;
  text-decoration: none;
}
.container .row .panel-default .panel-body ul li a:hover{
  color: #ff5000;
}
