<!--start-comment-description-->

<p-toast [baseZIndex]="999999999" dir="rtl" position="center"></p-toast>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1" *ngFor="let item of listComment">
      <div class="row comme-use" *ngIf="item.active">
        <ul class="media-list">
          <li class="media ">
            <div class="pull-right">
              <a><img class=" media-object" src="/assets/bootstrap/img/default.png" style="width: 50px;height: 50px"></a>
            </div>
            <div class="media-body" >
              <h4 class="media-heading">
                {{item.fullName}} میگه :
                <h6 class="pull-left">{{item.date}}</h6>
              </h4>
              <p>{{item.text}}</p>
              <!--nested media object-->
              <div class="media media-admin" *ngFor="let item of listAnswer">

                  <div class="pull-right">
                    <a><img class=" media-object" src="/assets/bootstrap/img/default.png" style="width: 50px;height: 50px"></a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><h6 class="pull-left">{{item.date}}</h6>{{item.name}}</h4>
                    <p style="color:#ff5000" [innerHTML]="item.replay"> </p>
                  </div>


              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 ">
      <div class="row rowcommen">
        <div class="caption ">
          <span class="col-xs-10 col-xs-offset-1">نظرات کاربران</span>
        </div>
        <div class="panel-body">
          <form [formGroup]="commentForm ">
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group  input-group">
                <span class="input-group-addon"><i class="fas fa-user-graduate"></i></span>
                <input class="form-control" formControlName="fullName"  type="text" placeholder="نام ونام خانوادگی">
              </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
              <div class="input-group form-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                <input class="form-control" formControlName="email" type="email"  placeholder="ایمیل">
              </div>
            </div>
            <div class="form-group input-group ">
              <textarea class="form-control " formControlName="text" type="text"  placeholder="عبارت مورد نظر را وارد کنید"></textarea>
              <br>
            </div>
            <button (click)="onSubmit()"  class="btn btn-primary pull-left" >ارسال</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<!--end-comment-description-->

