<div class="container">
  <div class="row">
    <div class="col-md-11">
      <div class="panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6">
              <span>تنظیمات حساب کاربری</span>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class=" col-md-12">
            <button pButton icon="pi pi-check" type="button" label="تایید حساب بانکی" class="ui-button-info"></button>
            <button pButton icon="pi pi-check" type="button" label="تنظیمات حساب کاربری" class="ui-button-success"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


