::ng-deep.ui-table-thead{
  font-family: IRANSans_Bold!important;
  color: #fff!important;
  background: #0099CC!important;
}

::ng-deep.ui-table-tbody{
  font-family: IRANSans_Light!important;


}
::ng-deep.ui-paginator {
  background-color: #f1eaea!important;

}
.input-filter{
  font-family: IRANSans_Light!important;
}
::ng-deep.ui-button-text{
  font-family: IRANSans_Light!important;
}
#text-delete-dialog{
  font-family: IRANSans_Light!important;
}
::ng-deep.ui-dialog .ui-dialog-titlebar {
  //border: 1px solid #c8c8c8;
  background-color: #FF8800!important;
  color:white!important;
  font-family: IRANSans_Light!important;
}
::ng-deep.pi.pi-times{
  color:white!important;
}
::ng-deep.ui-table .ui-table-thead > tr.title-table > th{
  background-color: #FF8800!important;
  color:white!important;
}
.ui-grid-row{
  font-family: IRANSans_Light!important;
}
