
<!--start-information-teacher-->
<div class="container-fluid">
  <div class="row row-archive-tech">
   <div class="panel-group panel-group-tech ">
     <div class="panel-heading">
       <span class="panel-title"><i class="fas fa-chalkboard-teacher"></i>مدرس دوره</span>
     </div>
    <div class="panel-body">
      <img class="img-circle img-responsive" src="/assets/bootstrap/img/default.png" alt=""><span>مهندس رسول صیدی پیری</span>
      <br><a class="panel-footer" href="#">اطلاعات بیشتر </a>
    </div>
  </div>
  </div>
</div>
<!--end-information-teacher-->
<!--start-information-film-->
<div class="container-fluid ">
 <div class="row row-archive-information  ">
  <div class="panel-group panel-group-information">
    <div class="panel-heading">
      <span class="panel-title"><i class="fas fa-info-circle"></i>اطلاعات دوره</span>
    </div>
    <div class="panel-body">
      <ul>
        <li><span><i class="fas fa-user"></i>مدرس:</span><p>رسول صیدی پیری</p></li>
        <li><span><i class="fas fa-th"></i>تعداد جلسات:</span><p>24</p></li>
        <li><span><i class="fas fa-clock-o"></i>زمان:</span><p>12ساعت و48دقیقه</p></li>
        <li><span><i class="fas fa-hdd"></i>حجم:</span><p>8گیگابایت</p></li>
        <li><span><i class="fas fa-tag"></i>قیمت:</span><p>280تومان</p></li>
      </ul>
    </div>
    <div class="panel-footer">
      <button class="col-xs-12 col-md-8 col-md-offset-2 btn btn-success" type="submit" value="submit" name="sub"><i class="fas fa-shopping-cart"></i>سبد خرید</button>
    </div>
  </div>
 </div>
</div>
<!--end-information-film-->
<!--start-support-user-->
<div class="container-fluid ">
  <div class="row row-archive-support">
    <div class="panel-group panel-group-support">
      <div class="panel-heading">
        <span class="panel-title"><i class="fas fa-headphones-alt"></i>پشتیبانی</span>
      </div>
      <div class="panel-body">
        <ul>
          <li><strong>تلفن:</strong><span>021-33325544</span><i class="fas fa-phone-alt"></i></li>
          <li><strong>ایمیل:</strong><span>HD724@info.com</span><i class="fas fa-envelope"></i></li>
          <li><strong>تلگرام:</strong><span>@HD724</span><i class="fas fa-send"></i></li>
        </ul>
      </div>
      <div class="panel-footer">
        <strong>همراه دانش 7 روز هفته 24 ساعت حتا در روزهای تعطیل در خدمت شما دانشجویان عزیز میباشد با ارزوی موفقیت برای همگی.</strong>
      </div>
    </div>
  </div>
</div>
<!--end-support-user-->
<!--start-register-period-->
<div class="container-fluid">
  <div class="row row-register-period">
    <div class="panel-group panel-group-period">
      <div class="panel-heading">
        <span class="panel-title"><i class="fas fa-registered"></i>ثبت نام</span>
      </div>
      <div class="panel-body">
         <a href="#" class="btn btn-success col-xs-12"><i class="fas fa-pencil-alt"></i>برای ثبت نام در دوره لطفا کلیک کنید</a>
      </div>
    </div>
  </div>
</div>
<!--end-register-period-->
<!--start-link-->
<div class="container-fluid  ">
  <div class="row row-link  ">
    <div class="panel-group panel-group-link">
      <div class="panel-heading">
        <span class="panel-title"><i class="fas fa-link"></i>لینکدونی</span>
      </div>
      <div class="panel-body">
        <ul>
          <li><a href="#"><i class="fas fa-globe-asia"></i>نویان سرور</a></li>
          <li><a href="#"><i class="fas fa-globe-asia"></i>مطلب یار</a></li>
          <li><a href="#"><i class="fas fa-globe-asia"></i>همراه دانش</a></li>
          <li><a href="#"><i class="fas fa-globe-asia"></i>گوگل</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--end-link-->
