<app-top-menu></app-top-menu>
<app-center-menu></app-center-menu>
<app-menu></app-menu>
<!--start-error404-->
<div class="container-fluid">
  <div class="col-md-12">
    <div class="row row-error">
      <div class="col-md-4">
        <div class="row row-error-right">
          <img class="img-responsive" src="../../../assets/bootstrap/img/error404.png" alt="">
          <a href="#" class="btn btn-primary col-sm-10 col-sm-offset-1">ورود به صفحه اصلی</a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row row-error-left">
          <span>صفحه مورد نظر شما وجود ندارد</span>
          <p><span>همـراه دانـش</span>دوست عزیز اطلاعات شما ناقص می باشد و فایل مورد نظر وجود ندارد لطفا از باکس های زیر محتوا خود را جستجو کنیدیا به صفحه اصلی رجوع کنید با تشکر </p>
          <div class="panel-body col-sm-6">
            <div class="caption">
              <span>جدیدترین مقالات</span>
            </div>
            <ul>
              <li><img class="img-responsive img-rounded" src="/assets/bootstrap/img/default.png" alt=""><a href="#">نصب ویندوز 10 به صورت کاملا حرفه ای</a></li>
              <li><img class="img-responsive img-rounded" src="/assets/bootstrap/img/default.png" alt=""><a href="#">نحوه اموزش مقاله نویسی برای دانشجویان دکترا و ارشد</a></li>
              <li><img class="img-responsive img-rounded" src="/assets/bootstrap/img/default.png" alt=""><a href="#">نحوه اموزش مقاله نویسی برای دانشجویان دکترا و ارشد</a></li>
              <li><img class="img-responsive img-rounded" src="/assets/bootstrap/img/default.png" alt=""><a href="#">نحوه اموزش مقاله نویسی برای دانشجویان دکترا و ارشد</a></li>
              <li><img class="img-responsive img-rounded" src="/assets/bootstrap/img/default.png" alt=""><a href="#">نحوه اموزش مقاله نویسی برای دانشجویان دکترا و ارشد</a></li>
              <li><img class="img-responsive img-rounded" src="/assets/bootstrap/img/default.png" alt=""><a href="#">نحوه اموزش مقاله نویسی برای دانشجویان دکترا و ارشد</a></li>
            </ul>
          </div>
          <div class="panel-body col-sm-6">
            <div class="caption">
              <span>فیلم های آموزشی</span>
            </div>
            <ul>
              <li><img class="img-responsive img-rounded" src="/assets/bootstrap/img/film.png" alt=""><a href="#">آموزش کار با بوت استرپ 4</a></li>
              <li><img class="img-responsive img-rounded" src="/assets/bootstrap/img/film.png" alt=""><a href="#">آموزش نصب لاراول و انگولار و تولید فایل apk</a></li>
              <li><img class="img-responsive img-rounded" src="/assets/bootstrap/img/film.png" alt=""><a href="#">آموزش نصب لاراول و انگولار و تولید فایل apk</a></li>
              <li><img class="img-responsive img-rounded" src="/assets/bootstrap/img/film.png" alt=""><a href="#">آموزش نصب لاراول و انگولار و تولید فایل apk</a></li>
              <li><img class="img-responsive img-rounded" src="/assets/bootstrap/img/film.png" alt=""><a href="#">آموزش نصب لاراول و انگولار و تولید فایل apk</a></li>
              <li><img class="img-responsive img-rounded" src="/assets/bootstrap/img/film.png" alt=""><a href="#">آموزش نصب لاراول و انگولار و تولید فایل apk</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end-error404-->
<app-footer></app-footer>
