<!--start-comment-->
<div class="container">
  <div class="caption">
    <span>نظرات کاربران</span>
    <a class="pull-left" href="#">همه<i class="fas fa-angle-left"></i></a>
  </div>
  <div class="row row-comment">
    <div class="col-md-5 row-comment-right">
      <a href="#"><span><i class="fas fa-pen"></i>آموزش کافیگ کردن مودم میتروتیک</span></a>
      <div class="clearfix"></div>
      <h6><i class="fas fa-tag"></i>کانفیگ</h6>
      <h6><i class="fas fa-tag"></i>شبکه</h6>
      <h6><i class="fas fa-tag"></i>میکروتیک</h6>
    </div>
    <div class="col-md-7 row-comment-left">
      <span class="pull-left">125<i class="fas fa-thumbs-up"></i></span>
      <span class="pull-left">154<i class="fas fa-comment"></i></span>
      <span class="pull-left">541<i class="fas fa-eye"></i></span>
      <span class="pull-left">1367/6/31<i class="fas fa-calendar"></i></span>
      <span class="pull-left">رسول صیدی<i class="fas fa-user"></i></span>
    </div>
  </div>
  <div class="row row-comment">
    <div class="col-md-5 row-comment-right">
      <a href="#"><span><i class="fas fa-pen"></i>آموزش کافیگ کردن مودم میتروتیک</span></a>
      <div class="clearfix"></div>
      <h6><i class="fas fa-tag"></i>کانفیگ</h6>
      <h6><i class="fas fa-tag"></i>شبکه</h6>
      <h6><i class="fas fa-tag"></i>میکروتیک</h6>
    </div>
    <div class="col-md-7 row-comment-left">
      <span class="pull-left">125<i class="fas fa-thumbs-up"></i></span>
      <span class="pull-left">154<i class="fas fa-comment"></i></span>
      <span class="pull-left">541<i class="fas fa-eye"></i></span>
      <span class="pull-left">1367/6/31<i class="fas fa-calendar"></i></span>
      <span class="pull-left">رسول صیدی<i class="fas fa-user"></i></span>
    </div>
  </div>
  <div class="row row-comment">
    <div class="col-md-5 row-comment-right">
      <a href="#"><span><i class="fas fa-pen"></i>آموزش کافیگ کردن مودم میتروتیک</span></a>
      <div class="clearfix"></div>
      <h6><i class="fas fa-tag"></i>کانفیگ</h6>
      <h6><i class="fas fa-tag"></i>شبکه</h6>
      <h6><i class="fas fa-tag"></i>میکروتیک</h6>
    </div>
    <div class="col-md-7 row-comment-left">
      <span class="pull-left">125<i class="fas fa-thumbs-up"></i></span>
      <span class="pull-left">154<i class="fas fa-comment"></i></span>
      <span class="pull-left">541<i class="fas fa-eye"></i></span>
      <span class="pull-left">1367/6/31<i class="fas fa-calendar"></i></span>
      <span class="pull-left">رسول صیدی<i class="fas fa-user"></i></span>
    </div>
  </div>
  <div class="row row-comment">
    <div class="col-md-5 row-comment-right">
      <a href="#"><span><i class="fas fa-pen"></i>آموزش کافیگ کردن مودم میتروتیک</span></a>
      <div class="clearfix"></div>
      <h6><i class="fas fa-tag"></i>کانفیگ</h6>
      <h6><i class="fas fa-tag"></i>شبکه</h6>
      <h6><i class="fas fa-tag"></i>میکروتیک</h6>
    </div>
    <div class="col-md-7 row-comment-left">
      <span class="pull-left">125<i class="fas fa-thumbs-up"></i></span>
      <span class="pull-left">154<i class="fas fa-comment"></i></span>
      <span class="pull-left">541<i class="fas fa-eye"></i></span>
      <span class="pull-left">1367/6/31<i class="fas fa-calendar"></i></span>
      <span class="pull-left">رسول صیدی<i class="fas fa-user"></i></span>
    </div>
  </div>
</div>
<!--end-comment-->
