.container .row .panel-default{
  margin-top: 10px;
  border: 1px solid #eeeeee;
}
.container .row .panel-default .panel-heading .row{
  font-family: IRANSans_Bold;
}
.container .row .panel-default .panel-body .col-md-12 .table thead{
  font-family: IRANSans_Bold;
}
.container .row .panel-default .panel-body .col-md-12 .table thead tr th{
  text-align: center;
}
.container .row .panel-default .panel-body .col-md-12 .table tbody tr th{
  font-family: IRANSans_Light;
  text-align: center;
}
.container .row .panel-default .panel-body .col-md-12 .table tbody tr th span{
  background: #65d90b;
  color: #FFFFFF;
  padding: 0px 5px;
}
.container .row .panel-default .panel-body .col-md-12 .table tbody tr th a{
  text-decoration: none;
}
