<div class="container">
  <div class="row">
    <div class="col-md-11">
      <div class="panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <span>خریدهای من</span>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class=" col-md-12">
            <table class="table  table-striped table-hover table-condensed table-responsive">
              <thead>
              <tr>
                <th>شناسه تراکنش</th>
                <th>تاریخ خرید</th>
                <th>زمان خرید</th>
                <th>مبلغ</th>
                <th>وضعیت</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of listbasket">
                <th><a routerLink="../course">{{item.refID}}</a></th>
                <th>{{item.date}}</th>
                <th>{{item.time}}</th>
                <th>{{item.price}}</th>
                <th><span>{{item.success}}</span></th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
