.container .row-film .caption{
  text-align: center;
  margin-top: 30px;
}
.container .row-film .caption span{
  font-family: IRANSans_Bold;
  font-size: 18px;
  color: #03af8c;
}
.container .row-film .caption a{
  font-family: IRANSans_Bold;
  text-decoration: none;
  color: #000000;
  margin-left: 30px;
}
.container .row-film .caption a i{
  margin-right: 5px;
}
.container .row-film .card-content .thumbnail-body-film{
  border: none;
}
.container .row-film .card-content .thumbnail-body-film a{
  text-decoration: none;
}
.container .row-film .card-content .thumbnail-body-film .panel-heading{
  border-bottom: none;
  padding: 0px;
  position: relative;
}
.container .row-film .card-content .thumbnail-body-film .panel-heading a{
  position: absolute;
  font-family: IRANSans_Light;
  top: 5px;
  color: #ffffff;
  z-index: 999999;
  margin-right: 10px;
}
.container .row-film .card-content .thumbnail-body-film .panel-heading img {
  width: 100%;
}
.container .row-film .card-content .thumbnail-body-film .panel-body{
  background-color:#03af8c ;
}
.container .row-film .card-content .thumbnail-body-film .panel-body a{
  text-decoration: none;
}
.container .row-film .card-content .thumbnail-body-film .panel-body a span{
  font-family:IRANSans_Light;
  color: #ffffff;
  font-size: 14px;
}
.container .row-film .card-content .thumbnail-body-film .panel-body a span i{
  margin-left: 10px;
  font-size: 18px;
}
.container .row-film  .card-content .panel-footer{
  background-color: #ff7800;
  margin: 0px 3px;
  box-shadow: 0px 5px 7px -5px #000 inset;
  border-bottom-left-radius:7px ;
  border-bottom-right-radius:7px ;
  height: 40px;
  color: #ffffff;
  border-top: none;
}
.container .row-film  .card-content  .panel-footer img{
  width: 40px;
  height: 40px;
  border: 3px solid #ffffff;
  position: absolute;
}
.container .row-film  .card-content  .panel-footer span{
  text-decoration: none;
  font-family: IRANSans_Light;
  color: #ffffff;
}
:host::ng-deep .owl-prev,
:host::ng-deep .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
:host::ng-deep.owl-prev {
  left: 0;
}
:host::ng-deep.owl-next {
  right: 0;
}
:host::ng-deep.carousel .carousel-control-next-icon {
  width: 50px!important;
  height: 50px!important;
}
:host::ng-deep.carousel .carousel-control-prev-icon {
  width: 50px!important;
  height: 50px!important;
}
