<div class="container">
  <div class="row row-film">
    <div class="caption">
      <span>داغ ترین مطالب</span>
<!--      <a class="pull-left" routerLink="/Courses/films">همه<i class="fas fa-angle-left"></i></a>-->
    </div>
    <div class="card-content">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>

          <div class="thumbnail thumbnail-body-film">
            <a [routerLink]="['content-all']">
              <div class="panel-heading">
                <img class="img-responsive" src="./../../../../assets/bootstrap/img/schoole.jpg"  alt="">
              </div>
              <div class="panel-body">
                <a href="#"><span><i class="fa fa-circle"></i>نمونه سوالات امتحانی مدارس</span></a>
              </div>
            </a>
            <a routerLink="/detail">
              <div class="panel-footer">
                <img class="img-responsive img-circle" src="./../../../../assets/bootstrap/img/logo.png" alt="">
                <span class="pull-left" >همراه دانش</span>
              </div>
            </a>
          </div>

        </ng-template>
        <ng-template carouselSlide>

          <div class="thumbnail thumbnail-body-film">
            <a [routerLink]="['content-all']">
              <div class="panel-heading">
                <img class="img-responsive" src="./../../../../assets/bootstrap/img/daneshga.jpg"  alt="">
              </div>
              <div class="panel-body">
                <a href="#"><span><i class="fa fa-circle"></i>نمونه سوالات امتحانی دانشگاهی</span></a>
              </div>
            </a>
            <a routerLink="/detail">
              <div class="panel-footer">
                <img class="img-responsive img-circle" src="./../../../../assets/bootstrap/img/logo.png" alt="">
                <span class="pull-left" >همراه دانش</span>
              </div>
            </a>
          </div>

        </ng-template>
        <ng-template carouselSlide>

          <div class="thumbnail thumbnail-body-film">
            <a [routerLink]="['content-all']">
              <div class="panel-heading">
                <img class="img-responsive" src="./../../../../assets/bootstrap/img/jozveh.jpg"  alt="">
              </div>
              <div class="panel-body">
                <a href="#"><span><i class="fa fa-circle"></i>جزوه های درسی دانشگاه </span></a>
              </div>
            </a>
            <a routerLink="/detail">
              <div class="panel-footer">
                <img class="img-responsive img-circle" src="./../../../../assets/bootstrap/img/logo.png" alt="">
                <span class="pull-left" >همراه دانش</span>
              </div>
            </a>
          </div>

        </ng-template>
        <ng-template carouselSlide>

          <div class="thumbnail thumbnail-body-film">
            <a>
              <div class="panel-heading">
                <img class="img-responsive" src="./../../../../assets/bootstrap/img/nemoneh.jpg"  alt="">
              </div>
              <div class="panel-body">
                <a href="#"><span><i class="fa fa-circle"></i>نمونه کارهای طراحی سایت</span></a>
              </div>
            </a>
            <a routerLink="/detail">
              <div class="panel-footer">
                <img class="img-responsive img-circle" src="./../../../../assets/bootstrap/img/logo.png" alt="">
                <span class="pull-left" >همراه دانش</span>
              </div>
            </a>
          </div>

        </ng-template>

      </owl-carousel-o>

    </div>
  </div>
</div>



