<!--start-footer-top-->
<div class="container-fluid">
  <div class="col-md-3">
    <div class="row row-address">
      <div class="caption">
        <span>آدرس</span>
      </div>
      <ul>
        <li><span><i class="fas fa-map-marker-alt"></i><span>لرستان:</span>الشتر-خیابان امام خمینی کوچه یاس 4 پلاک 1 طبقه اول</span></li>
        <li><span><i class="fas fa-phone"></i><span>تلفن:</span>09169651136_09166996165</span></li>
        <li><span><i class="fas fa-fax"></i><span>فکس:</span>066-32520954</span></li>
        <li><span><i class="fas fa-envelope"></i><span>ایمیل:</span>HD724@info.com</span></li>
      </ul>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row row-emil">
      <div class="caption">
        <span>ما را دنبال کنید....</span>
      </div>
      <p>برای حرفه ای شدن در دنیای دیجیتال و اگاه شدن از تخفیفات وساخت دوره های جدید با خبر شوید!</p>
<!--      <form  class="form-horizontal " >-->
        <div class="form-group input-group ">
          <input class="form-control" type="text" name="txt" placeholder="ایمیل خود را وارد کنید....">
          <div class="input-group-btn"><button type="submit" class="btn" >ثبت</button></div>
        </div>
<!--      </form>-->
      <div class="row center-block">
        <a href="javascript:showZPTrust();" title="Ø¯Ø±ÙˆØ§Ø²Ù‡ Ù¾Ø±Ø¯Ø§Ø®Øª Ù…Ø¹ØªØ¨Ø±"><img src="https://cdn.zarinpal.com/badges/trustLogo/1.svg" border="0" alt="Ø¯Ø±ÙˆØ§Ø²Ù‡ Ù¾Ø±Ø¯Ø§Ø®Øª Ù…Ø¹ØªØ¨Ø±"></a>'
        <img  class="img-responsive pull-right text-center" src="/assets/bootstrap/img/enamad.png"/>
        <img  class="img-responsive pull-right text-center" src="/assets/bootstrap/img/nashr-d3.png">
        <img  class="img-responsive pull-right text-center" src="/assets/bootstrap/img/samand.png">
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row row-service">
      <div class="caption">
        <span>خدمات سایت</span>
      </div>
      <ul>
        <li><a href="#"><i class="fas fa-play-circle"></i>فایل تدریس</a></li>
        <li><a href="#"><i class="fas fa-play-circle"></i>دوره های آموزشی</a></li>
        <li><a href="#"><i class="fas fa-play-circle"></i>استخدامی</a></li>
        <li><a href="#"><i class="fas fa-play-circle"></i>فیلم های آموزشی</a></li>
        <li><a href="#"><i class="fas fa-play-circle"></i>نمونه کار</a></li>
        <li><a href="#"><i class="fas fa-play-circle"></i>طراحی پروژه</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row row-learn">
      <div class="caption">
        <span>خدمات آموزشی</span>
      </div>
      <ul>
        <li><a href="#"><i class="fas fa-play-circle"></i>دوره های طراحی سایت</a></li>
        <li><a href="#"><i class="fas fa-play-circle"></i>دوره های کامل اندروید</a></li>
        <li><a href="#"><i class="fas fa-play-circle"></i>اموزش تولید محتوا و سئو</a></li>
        <li><a href="#"><i class="fas fa-play-circle"></i>آموزش برنامه نویسی</a></li>
        <li><a href="#"><i class="fas fa-play-circle"></i>شبکه و امنیت</a></li>
        <li><a href="#"><i class="fas fa-play-circle"></i>بانک های اطلاعاتی</a></li>
      </ul>
    </div>
  </div>
</div>
<!--end-footer-top-->
<!--start-footer-center-->
<div class="container-fluid container-fluid-center">
  <div class="container">
    <div class="row row-center">
      <div class="col-md-8">
        <span class="col-md-2">در باره ما</span>
        <p class="col-md-10">همراه دانش یکی از بهترین سایت ها در زمینه طراحی و آموزش های حرفه ای کامپیوتر فعالیت میکند و این نتیجه کاری با فعالیت های شبا نه روزی تیم و همکاری بسیار قوی و همچنین همایت شما کاربران عزیز از تیم همراه دانش به دست آمده شما هم میتوانید با پیوسنم به خانواده بزرگ همراه دانش میتوانید.</p>
      </div>
      <div class="col-md-4">
        <a class="pull-left" href="#"><img src="./assets/bootstrap/img/twitter.png" alt=""></a>
        <a class="pull-left" href="#"><img src="./assets/bootstrap/img/instagram.png" alt=""></a>
        <a class="pull-left" href="#"><img src="./assets/bootstrap/img/telegram.png" alt=""></a>
        <a class="pull-left" href="#"><img src="./assets/bootstrap/img/facebook.png" alt=""></a>
      </div>
    </div>
  </div>
</div>
<!--end-footer-center-->
<!--start-footer-down-->
<div class="container-fluid container-footer-down">
  <div class="container">
    <div class="row">
      <span> تمام حقوق این سایت قانونی می باشد و مربوط به تیم همراه دانش می باشد و همچنین دارای مجوز های رسمی از مراجع مربوطه می باشد و همه فعالیت های ذکر شده کاملا قانونی می باشد.</span>
    </div>
  </div>
</div>
<!--end-footer-down-->
