<div class="container" style="padding: 0px;">
  <div class="col-md-6">
      <img class="img-rounded" src="../../../assets/bootstrap/img/Advertisinapp.jpg" alt="اپلیکیشن">
  </div>
  <div class="col-md-6 text-center" >
<span>آیا میخواید شخصی ثروتنمد و قدرتمند شوید؟</span>
    <p>داشتن اپلیکیشن برای وب سایتها ، شرکتها ، فروشگاه ها ، رستوران ها ، خبرگزاری ها ، شرکت های خدمات مسافرتی ,... کمک بسزایی برای به روز بودم و گسترش کسب و کار میتواند ایفا کنند </p>
    <strong>چرا اپلیکیشن واجب است؟</strong>
    <ul>
      <li>قابلیت درآمدزایی بینظیر</li>
      <li>وفاداری بالای مشتریان به اپلیکیشن</li>
      <li>محبوبیت برای مدیران و صاحبان کسب کار</li>
      <li>محیط راحت برای مدیریت کسب کار</li>
      <li>معرفی اپلیکیشن خود به تمام جامعه</li>
      <li>شغلی با پرستیژ بالا و قابل گسترش در حوزه فناوری</li>
    </ul>
  </div>


</div>

