.container .col-md-6 span{
  font-family: IRANSans_Bold;
  font-size: 20px;
  color: #ff7800;
}
.container .col-md-6 img{
  width: 100%;
}
.container .col-md-6 p{
  font-family: IRANSans_Light;
  text-align: justify;
line-height: 2;
  font-size: 16px;
}
.container .col-md-6 strong{
  font-family: IRANSans_Bold;
  font-size: 20px;
  color: #ff7800;
}
.container .col-md-6 ul li {
  text-align: right;
  list-style: persian;
  line-height: 2;
  font-family: IRANSans_Light;
  font-size: 16px;
}
