<div class="container">
  <div class="row">
    <div class="col-md-11">
      <div class="panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6">
              <span>تیکت های پشتیبانی</span>
            </div>
            <div class="col-md-6 ">
              <a href="#" class="btn-link pull-left">ایجاد تیکت جدید</a>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class=" col-md-12">
            <table class="table  table-striped table-hover table-condensed table-responsive">
              <thead>
              <tr>
                <th>عنوان</th>
                <th>مرتبط با</th>
                <th>تاریخ ارسال</th>
                <th>وضعیت</th>
                <th>تبدیل وضعیت تیکت</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th>رسول</th>
                <th>رسول</th>
                <th>صیدی</th>
                <th>test2</th>
                <th>ادرس </th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

