<div class="container-fluid">
  <div class="col-md-8">
      <div class="row row-menu-right">
      <div class="navbar-header navbar-header-custom">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
          <div class="icon-bar"></div>
          <div class="icon-bar"></div>
          <div class="icon-bar"></div>
        </button>
      </div>
        <div class="collapse navbar-collapse" id="menu">
          <ul class="nav navbar-nav">
            <li><a href="#">طراحی سایت</a></li>
            <li><a href="#">برنامه نویسی</a></li>
            <li><a href="#">شبکه</a></li>
            <li><a href="#">بانک اطلاعاتی</a></li>
            <li><a href="#">سئو</a></li>
            <li><a href="#">اندروید</a></li>
            <li><a href="#">گرافیک</a></li>
            <li><a href="#">محتوا</a></li>
          </ul>
        </div>
      </div>
  </div>
  <div class="col-sm-6 col-md-4 ">
    <div class="row row-menu-left pull-left">
      <ul class="nav navbar-nav">
        <li><a href="#"><img src="./assets/bootstrap/img/twitter.png" alt=""></a></li>
        <li><a href="#"><img src="./assets/bootstrap/img/instagram.png" alt=""></a></li>
        <li><a href="#"><img src="./assets/bootstrap/img/telegram.png" alt=""></a></li>
        <li><a href="#"><img src="./assets/bootstrap/img/facebook.png" alt=""></a></li>
      </ul>
    </div>
  </div>
</div>
