<div class="container-fluid pc-header">
  <div class="col-md-8">
      <div class="row row-menu-right">
      <div class="navbar-header navbar-header-custom">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
          <div class="icon-bar"></div>
          <div class="icon-bar"></div>
          <div class="icon-bar"></div>
        </button>
      </div>
        <div class="collapse navbar-collapse" id="menu">
          <ul class="nav navbar-nav">
            <li><a href="#">خدمات </a></li>
            <li><a routerLink="/auth/register">عضویت</a></li>
            <li><a routerLink="/support">پشتیبانی </a></li>
            <li><a [routerLink]="['/home/Worksamples']">نمونه کار</a></li>
            <li><a [routerLink]="['/home/employment']">استخدام</a></li>
          </ul>
        </div>
      </div>
  </div>
  <div class="col-sm-6 col-md-4 ">
    <div class="row row-menu-left pull-left">
      <ul class="nav navbar-nav">
        <li><a href="#"><img src="./assets/bootstrap/img/twitter.png" alt=""></a></li>
        <li><a href="#"><img src="./assets/bootstrap/img/instagram.png" alt=""></a></li>
        <li><a href="#"><img src="./assets/bootstrap/img/telegram.png" alt=""></a></li>
        <li><a href="#"><img src="./assets/bootstrap/img/facebook.png" alt=""></a></li>
      </ul>
    </div>
  </div>
</div>


<!--mobile header-->
<header class="container mobile-header">
  <div class="row p-d-flex text-justify">
    <div class="col">
      <button (click)="showMobileMenu()" type="button" class="mobile-bar">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="col  p-ml-auto row-center-menu">
      <a [routerLink]="['/']" class=" text-center">
        <h2>رایا همـراه دانـش</h2>
      </a>
    </div>
    <div class="col mobile-icon">
      <i class="fa fa-user p-ml-3"></i>
      <i class="fa fa-shopping-cart"></i>
    </div>
  </div>
</header>
<!-- side MENU -->
<p-sidebar class="menuSidebar" Scroll [(visible)]="displayMobileMenu" [blockScroll]="true"
           [modal]="true"
           position="right">
  <div class=" text-center shoppingMe">
    <img height="60px" src="../../../assets/bootstrap/img/logo.png">
  </div>
  <div class="d-flex flex-column">
    <div class="mb-auto">
      <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
    </div>
  </div>
</p-sidebar>
