/*start-article*/
.container .row-article .col-sm-3{
  margin-top: 30px;
}
.container .row-article .caption{
  text-align: center;
  margin-top: 30px;
}
.container .row-article .caption span{
  font-family: IRANSans_Bold;
  font-size: 18px;
  color: #03af8c;
}
.container .row-article .caption a{
  font-family: IRANSans_Bold;
  text-decoration: none;
  color: #000000;
  margin-left: 30px;
}
.container .row-article .caption a i{
  margin-right: 5px;
}
.container .row-article .thumbnail-body{
  padding: 0px;
  border: none;
}
.container .row-article .thumbnail-body .panel-heading{
  border-bottom: none;
  padding: 0px;
}
.container .row-article .thumbnail-body .panel-heading img{
  width: 100%;
}
.container .row-article .thumbnail-body .panel-body{
  background-color:#03af8c ;
}
.container .row-article .thumbnail-body .panel-body a{
  text-decoration: none;
}
.container .row-article .thumbnail-body .panel-body a span{
  font-family:IRANSans_Light;
  color: #ffffff;
  font-size: 14px;
}
.container .row-article .thumbnail-body .panel-body a span i{
  margin-left: 10px;
  font-size: 18px;
}
.container .row-article  .panel-footer{
  background-color: #ff7800;
  margin: 0px 3px;
  box-shadow: 0px 5px 7px -5px #000 inset;
  border-bottom-left-radius:7px ;
  border-bottom-right-radius:7px ;
  height: 40px;
  color: #ffffff;
}
.container .row-article  .panel-footer a{
  text-decoration: none;
  font-family: IRANSans_Light;
  color: #ffffff;
}
/*end-article*/
