<div class="container">
  <div class="row row-film">
    <div class="caption">
      <span>بیشترین دانلود ها</span>
      <a class="pull-left" routerLink="/Courses/films">همه<i class="fas fa-angle-left"></i></a>
    </div>
    <div class="card-content">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>

          <div class="thumbnail thumbnail-body-film">
            <a>
              <div class="panel-heading">
                <img class="img-responsive" src="./../../../../assets/bootstrap/img/box.jpg"  alt="">
                <a>1200تومان</a>
              </div>
              <div class="panel-body">
                <a href="#"><span><i class="fa fa-circle"></i>طراحی سایت</span></a>
              </div>
            </a>
            <a routerLink="/detail">
              <div class="panel-footer">
                <img class="img-responsive img-circle" src="/assets/bootstrap/img/default.png" alt="">
                <span class="pull-left" >رسول صیدی پیری</span>
              </div>
            </a>
          </div>

        </ng-template>
        <ng-template carouselSlide>

          <div class="thumbnail thumbnail-body-film">
            <a>
              <div class="panel-heading">
                <img class="img-responsive" src="./../../../../assets/bootstrap/img/box.jpg"  alt="">
                <a>1200تومان</a>
              </div>
              <div class="panel-body">
                <a href="#"><span><i class="fa fa-circle"></i>طراحی سایت</span></a>
              </div>
            </a>
            <a routerLink="/detail">
              <div class="panel-footer">
                <img class="img-responsive img-circle" src="/assets/bootstrap/img/default.png" alt="">
                <span class="pull-left" >رسول صیدی پیری</span>
              </div>
            </a>
          </div>

        </ng-template>
        <ng-template carouselSlide>

          <div class="thumbnail thumbnail-body-film">
            <a>
              <div class="panel-heading">
                <img class="img-responsive" src="./../../../../assets/bootstrap/img/box.jpg"  alt="">
                <a>1200تومان</a>
              </div>
              <div class="panel-body">
                <a href="#"><span><i class="fa fa-circle"></i>طراحی سایت</span></a>
              </div>
            </a>
            <a routerLink="/detail">
              <div class="panel-footer">
                <img class="img-responsive img-circle" src="/assets/bootstrap/img/default.png" alt="">
                <span class="pull-left" >رسول صیدی پیری</span>
              </div>
            </a>
          </div>

        </ng-template>
        <ng-template carouselSlide>

          <div class="thumbnail thumbnail-body-film">
            <a>
              <div class="panel-heading">
                <img class="img-responsive" src="./../../../../assets/bootstrap/img/box.jpg"  alt="">
                <a>1200تومان</a>
              </div>
              <div class="panel-body">
                <a href="#"><span><i class="fa fa-circle"></i>طراحی سایت</span></a>
              </div>
            </a>
            <a routerLink="/detail">
              <div class="panel-footer">
                <img class="img-responsive img-circle" src="/assets/bootstrap/img/default.png" alt="">
                <span class="pull-left" >رسول صیدی پیری</span>
              </div>
            </a>
          </div>

        </ng-template>

      </owl-carousel-o>

    </div>
  </div>
</div>


