/*start-contact-us*/
.container-fluid{
  background-color: #ffffff;
  height: 100vh;
}
.container-fluid .row-contact-right{
  margin-top: 50px;
  text-align: center;
}
.container-fluid .row-contact-right .caption{
  margin-top: 20px;
}
.container-fluid .row-contact-right  .caption span{
  border: 1px solid #eeeeee;
  border-radius: 100%;
  padding: 35px;
  color: #000000;
}
.container-fluid .row-contact-right  .caption p{
  margin-top: 40px;
  font-family: IRANSans_Bold;
  color: #000000;
}
.container-fluid .row-contact-right  .panel-body #contact-us .form-group .input-group-addon{
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #4b4b4b;
  border-bottom: 2px solid #eeeeee;
}
.container-fluid .row-contact-right  .panel-body #contact-us .form-group input{
  padding-right: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #eeeeee;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  font-family: IRANSans_Light;
  margin-top: 10px;
  color: #000000;
}
.container-fluid .row-contact-right  .panel-body #contact-us button{
  background-color: #ffa331;
  font-family: IRANSans_Light;
  border: none;
  margin-top: 10px;
}
.container-fluid .row-contact-right  .panel-body #contact-us .form-group  textarea{
  width: 100%;
  height: 150px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #eeeeee;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  font-family: IRANSans_Light;
  margin-top: 10px;
  color: #000000;
}
.container-fluid .row-contact-left{
  margin-top: 50px;
  text-align: center;
}
.container-fluid .row-contact-left .caption{
  margin-top: 20px;
}
.container-fluid .row-contact-left  .caption span{
  border: 1px solid #eeeeee;
  border-radius: 100%;
  padding: 35px;
  color: #000000;
}
.container-fluid .row-contact-left  .caption p{
  margin-top: 40px;
  font-family: IRANSans_Bold;
  color: #000000;
}
.container-fluid .row-contact-left .panel-body .col-md-2{
  display: inline-grid;
}
.container-fluid .row-contact-left .panel-body .col-md-2 span{
  font-family: IRANSans_Bold;
  margin-bottom: 40px;
}
.container-fluid .row-contact-left .panel-body .col-md-2 span i{
  margin-left: 5px;
  font-size: 18px;
  color: #858585;
}
.container-fluid .row-contact-left .panel-body .col-md-10{
  padding: 0px;
}
.container-fluid .row-contact-left .panel-body .col-md-10 ul{
 padding: 0px;
  float: right;
}
.container-fluid .row-contact-left .panel-body .col-md-10 ul li{
  list-style: none;
  display: flex;
  margin-bottom: 44px;
}
.container-fluid .row-contact-left .panel-body .col-md-10 ul li span{
  font-family: IRANSans_Light;
}
/*end-contact-us*/
::ng-deep.ui-panel-title{ font-family: IRANSans_Light;}
.ui-grid-col-3{font-family: IRANSans_Light;}
input,textarea,button{font-family: IRANSans_Light;}
::ng-deep.ui-message-text{font-family: IRANSans_Light;}
.ui-grid-col-7{font-family: IRANSans_Light;}
