<div class="container">
    <div class="caption">
      <span>رشته های که با همراه دانش همکاری میکنند.</span>
      <a class="pull-left" routerLink="/Courses/films">همه<i class="fas fa-angle-left"></i></a>
    </div>
<div class="row col-xs-12 col-sm-12 col-md-12">
  <div class="col-sm-2 text-center">
      <img src="../../../assets/bootstrap/img/hack.jpg" class="img-circle" alt="">
      <h2>هک و امنیت</h2>
      <span>123دوره</span>
    </div>
  <div class="col-sm-2 text-center">
      <img src="../../../assets/bootstrap/img/mobail-m.png" class="img-circle" alt="">
      <h2>مبایل مارکتینگ</h2>
      <span>123دوره</span>
    </div>
  <div class="col-sm-2 text-center">
    <img src="../../../assets/bootstrap/img/content.png" class="img-circle" alt="">
    <h2>تولید محتوا</h2>
    <span>123دوره</span>
  </div>
  <div class="col-sm-2 text-center">
    <img src="../../../assets/bootstrap/img/Math.png" class="img-circle" alt="">
    <h2>ریاضیات</h2>
    <span>123دوره</span>
  </div>
  <div class="col-sm-2 text-center">
    <img src="../../../assets/bootstrap/img/controlbargh.jpg" class="img-circle" alt="">
    <h2>کنترل و ابزار دقیق برق</h2>
    <span>123دوره</span>
  </div>
  <div class="col-sm-2 text-center">
    <img src="../../../assets/bootstrap/img/tamiratbarg.png" class="img-circle" alt="">
    <h2>تعمییرات برق</h2>
    <span>123دوره</span>
  </div>
</div>
  <div class="row col-xs-12 col-sm-12 col-md-12">
  <div class="col-sm-2 text-center">
    <img src="../../../assets/bootstrap/img/nasbbargh.png" class="img-circle" alt="">
    <h2>نصب و راه اندازی برق</h2>
    <span>123دوره</span>
  </div>
  <div class="col-sm-2 text-center">
    <img src="../../../assets/bootstrap/img/omran.png" class="img-circle" alt="">
    <h2>سازه های عمران</h2>
    <span>123دوره</span>
  </div>
  <div class="col-sm-2 text-center">
    <img src="../../../assets/bootstrap/img/memari.png" class="img-circle" alt="">
    <h2>معماری ساختمان</h2>
    <span>123دوره</span>
  </div>
  <div class="col-sm-2 text-center">
    <img src="../../../assets/bootstrap/img/mekanik.jpg" class="img-circle" alt="">
    <h2>مهندسی مکانیک</h2>
    <span>123دوره</span>
  </div>
  <div class="col-sm-2 text-center">
    <img src="../../../assets/bootstrap/img/hardware.jpg" class="img-circle" alt="">
    <h2>مهندسی سخت افزار</h2>
    <span>123دوره</span>
  </div>
  <div class="col-sm-2 text-center">
    <img src="../../../assets/bootstrap/img/memari.jpg" class="img-circle" alt="">
    <h2>معماری کامپیوتر</h2>
    <span>123دوره</span>
  </div>
  </div>
  <div class="row col-xs-12 col-sm-12 col-md-12">
  <div class="col-sm-2 text-center">
    <img src="../../../assets/bootstrap/img/network.jpg" class="img-circle" alt="">
    <h2>شبکه کامپیوتر</h2>
    <span>123دوره</span>
  </div>
  <div class="col-sm-2 text-center">
    <img src="../../../assets/bootstrap/img/hosh.jpg" class="img-circle" alt="">
    <h2>هوش مصنوعی</h2>
    <span>123دوره</span>
  </div>
  <div class="col-sm-2 text-center">
    <img src="../../../assets/bootstrap/img/honar.jpg" class="img-circle" alt="">
    <h2>رشته هنر</h2>
    <span>123دوره</span>
  </div>
  <div class="col-sm-2 text-center">
    <img src="../../../assets/bootstrap/img/keshavarzi.jpg" class="img-circle" alt="">
    <h2>رشته کشاورزی</h2>
    <span>123دوره</span>
  </div>
  <div class="col-sm-2 text-center">
    <img src="../../../assets/bootstrap/img/sanayeh.jpg" class="img-circle" alt="">
    <h2>رشته صنایع</h2>
    <span>123دوره</span>
  </div>
  <div class="col-sm-2 text-center">
    <img src="../../../assets/bootstrap/img/language.jpg" class="img-circle" alt="">
    <h2>رشته زبان</h2>
    <span>123دوره</span>
  </div>
  </div>
</div>
