<div class="container">
  <div class="row">
    <div class="col-md-11">
      <div class="panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6">
              <span>لیست محصولات شما</span>
            </div>
            <div class="col-md-6 ">
              <a href="#" class="btn-link pull-left">افزودن محصولات جدید</a>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class=" col-md-12">
            <table class="table  table-bordered table-hover table-condensed table-responsive">
              <thead>
              <tr>
                <th>عنوان</th>
                <th>کد کالا</th>
                <th>قیمت</th>
                <th>دسته بندی</th>
                <th>تاریخ</th>
                <th>بازدید</th>
                <th>تخفیف</th>
                <th>انتشار</th>
                <th>وضعیت</th>
                <th>عملیات</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th>رسول</th>
                <th>صیدی</th>
                <th>test2</th>
                <th>ادرس </th>
                <th>ادرس </th>
                <th>ادرس </th>
                <th>ادرس </th>
                <th>ادرس </th>
                <th>ادرس </th>
                <th>ادرس </th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

