<p-toast position="top-center" class="text-center"></p-toast>

<form [formGroup]="teacherForm" (ngSubmit)="onSubmit(teacherForm.value)">
  <p-panel header="فرم ثبت مشخصات مدرس">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          نام مدرس <label style="color: red">*</label>:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="firstName" placeholder=""/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="نام مدرس را وارد نمائید" *ngIf="!teacherForm.controls['firstName'].valid&&teacherForm.controls['firstName'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          نام خانوادگی مدرس <label style="color: red">*</label>:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="lastName" placeholder=""/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="نام خانوادگی مدرس را وارد نمائید " *ngIf="!teacherForm.controls['lastName'].valid&&teacherForm.controls['lastName'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          کد ملی <label style="color: red">*</label>:
        </div>
        <div class="ui-grid-col-6">
          <input type="text" pInputText pKeyFilter="num" formControlName="nationalCode" maxlength="10" >
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="کد ملی را وارد نمائید" *ngIf="!teacherForm.controls['nationalCode'].valid&&teacherForm.controls['nationalCode'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          شماره همراه <label style="color: red">*</label>:
        </div>
        <div class="ui-grid-col-6">
<!--          <p-inputMask  mask="(0999) 999-9999" formControlName="mobile" placeholder="(0912) 345-6789"></p-inputMask>-->
          <input pInputText type="text" pKeyFilter="num" formControlName="mobile" placeholder="" maxlength="11"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="شماره موبایل را به درستی وارد نمائید" *ngIf="!teacherForm.controls['mobile'].valid&&teacherForm.controls['mobile'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          ایمیل <label style="color: red">*</label>:
        </div>
        <div class="ui-grid-col-6">
          <input type="text" pInputText pKeyFilter="email" formControlName="email" >

        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="ایمیل را به درستی وارد نمائید" *ngIf="!teacherForm.controls['email'].valid&&teacherForm.controls['email'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          گذر واژه<label style="color: red">*</label>:
        </div>
        <div class="ui-grid-col-6">
          <input type="password" pPassword formControlName="password" promptLabel="رمز را وارد نمائید" weakLabel="ضعیف" mediumLabel="متوسط" strongLabel="قوی"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="رمز عبور را وارد نمائید." *ngIf="!teacherForm.controls['password'].valid&&teacherForm.controls['password'].dirty"></p-message>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          نوع مدرک<label style="color: red">*</label>:
        </div>
        <div class="ui-grid-col-6" dir="ltr">
          <p-dropdown [options]="mardak" [showTransitionOptions]="'1ms'" [hideTransitionOptions]="'1ms'" formControlName="madrak" [filter]="true"></p-dropdown>
        </div>
        <div class="ui-grid-col-4">
          <p-message style="text-align: right" severity="error" text="خلاصه مقاله" *ngIf="!teacherForm.controls['madrak'].valid&&teacherForm.controls['madrak'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          رشته <label style="color: red">*</label>:
        </div>
        <div class="ui-grid-col-6">
          <input type="text" pInputText  formControlName="field" >

        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="رشته تحصیلی را به درستی وارد نمائید" *ngIf="!teacherForm.controls['field'].valid&&teacherForm.controls['field'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          تصویر پروفایل :
        </div>
        <div class="ui-grid-col-8">
          <p-fileUpload name="myfile[]" customUpload="true"
                        invalidFileSizeMessageDetail="حداکثر سایز عکس 2 مگابایت می باشد"
                        invalidFileSizeMessageSummary="اندازه فایل بیش از حد مجاز می باشد"
                        multiple="multiple"
                        accept="image/jpeg,image/png " maxFileSize="2000000"
                        (uploadHandler)="onUpload($event)" uploadLabel="آپلود عکس" chooseLabel="انتخاب عکس"
                        cancelLabel="انصراف"></p-fileUpload>        </div>
        <div class="ui-grid-col-2">
        </div>
      </div>
      <div class="ui-grid-row" style="margin-bottom:8rem">
        <div class="ui-grid-col-2">
          رزومه مدرس:
        </div>
        <div class="ui-grid-col-8">
          <quill-editor formControlName="cv"></quill-editor>

        </div>
        <div class="ui-grid-col-2"></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"></div>
        <div class="ui-grid-col-6">
          <button pButton type="submit" label="ثبت مدرس جدید" [disabled]="!teacherForm.valid"></button>
        </div>
        <div class="ui-grid-col-4"></div>
      </div>

    </div>
  </p-panel>
</form>

