<app-top-menu></app-top-menu>
<app-center-menu></app-center-menu>
<app-menu></app-menu>
<div class="container">
  <div class="p-grid" style="width: 100%">
    <div class="p-col">
      <p-card class="ui-card-header">
          <img src="../../../assets/bootstrap/img/nemonehhd724.jpg" alt="">
      </p-card>
      <p-card class="ui-card-footer">
          <h5>طراحی سایت همراه دانش</h5>
      </p-card>

    </div>
    <div class="p-col ">
      <p-card class="ui-card-header">
          <img src="../../../assets/bootstrap/img/henaco.jpg" alt="">
      </p-card>
      <p-card class="ui-card-footer">
          <h5>طراحی سایت هناکو</h5>
      </p-card>

    </div>
    <div class="p-col">
      <p-card class="ui-card-header">
          <img src="../../../assets/bootstrap/img/nemonehhd724.jpg" alt="">
      </p-card>
      <p-card class="ui-card-footer">
          <h5>طراحی سایت همراه دانش</h5>
      </p-card>

    </div>
  </div>
</div>
<app-footer></app-footer>
