
<div class="container-fluid">
  <div id="top-menu-right" class="col-xs-8 col-md-8">
      <nav class="navbar">
          <div class="collapse navbar-collapse" id="top-menu">
            <ul class="nav navbar-nav">
              <li><a href="#">خانه</a></li>
              <li><a routerLink="/support">پشتیبانی</a></li>
              <li><a href="#">تبلیغات</a></li>
              <li data-toggle="modal" data-target=".modal-custom-ozviat"><a routerLink="/auth/register"  >عضویت</a></li>
              <li><a routerLink="/about">درباره ما</a></li>
              <li><a routerLink="/contact">تماس با ما</a></li>
            </ul>
          </div>
      </nav>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 pull-left" id="top-menu-left">
    <div class="row row-top-menu-left">
      <ul class="nav navbar-nav pull-left">
        <li><a href="#"><span class="fa fa-search"></span>جستجو</a></li>
        <li><a routerLink="/teacher"><span class="fa fa-user"></span>مدرس شوید</a></li>
        <li><a routerLink="/auth/login"><span class="fa fa-key"></span>ورود</a></li>
        <li><a href="#"><span class="fa fa-shopping-cart"></span>فروشگاه</a></li>
      </ul>
    </div>
  </div>
</div>
