
<div class="container-fluid">
  <div id="top-menu-right" class="col-xs-8 col-md-8">
      <nav class="navbar">
          <div class="collapse navbar-collapse" id="top-menu">
            <ul class="nav navbar-nav">
              <li><a href="#">خانه</a></li>
              <li><a routerLink="/support">پشتیبانی</a></li>
              <li><a href="#">تبلیغات</a></li>
              <li data-toggle="modal" data-target=".modal-custom-ozviat"><a routerLink="/auth/register"  >عضویت</a></li>
              <li><a routerLink="/about">درباره ما</a></li>
              <li><a routerLink="/contact">تماس با ما</a></li>
            </ul>
          </div>
      </nav>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 pull-left" id="top-menu-left">
    <div class="row row-top-menu-left">
      <ul class="nav navbar-nav pull-left">
        <li><a href="#"><span class="fa fa-search"></span>جستجو</a></li>
        <li><a routerLink="/teacher"><span class="fa fa-user"></span>مدرس شوید</a></li>
        <li><a routerLink="/auth/login"><span class="fa fa-key"></span>ورود</a></li>
        <div class="indicator" #basketDropDown (clickOutside)="closeBasketDropDown()"
             (mouseleave)="closeBasketDropDown()">
          <a class="indicator__button" (click)="toggleBasketDropDown()" (mouseover)="openBasketDropDown()">
              <span class="indicator__area">
              <ul class="nav navbar-nav">
                <li><a href="#"><span class="fa fa-shopping-cart"><label class="countBadge">{{countBadge}}</label></span>فروشگاgه</a></li>
              </ul>
              </span>
          </a>
          <div class="indicator__dropdown" style="max-height: 458px;">
            <div class="dropcart dropcart--style--dropdown">
              <div class="dropcart__body">
                <div class="dropcart__products-list" >
                  <div class="dropcart__product" *ngFor="let item of cartlist">
                    <div class="product-image dropcart__product-image">
                      <a class="product-image__body">
                        <img [src]="item['cartList'].linkFile" alt="" class="product-image__img">
                      </a>
                    </div>
                    <div class="dropcart__product-info">
                      <div class="dropcart__product-name">
                        <a>{{item['cartList'].title}}</a>
                      </div>
                      <div class="dropcart__product-meta">
                        <span class="dropcart__product-quantity">{{item['cartList'].price|number}} تومان </span>
                      </div>
                    </div>
                    <i class="pi pi-trash fa-1x mr-auto" style="color:#c33" (click)="onDeleteCart(item)"></i>
                  </div>
                </div>
                <div class="dropcart__products-list" *ngIf="lengthCartlist === 0">
                  <p class="text-center">
                    سبد خرید شما خالی است.
                  </p>
                </div>
                <div class="dropcart__totals">
                  <table>
                    <tbody>
                    <tr>
                      <th>جمع کل</th>
                      <td> {{sumOfPrice|number}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="dropcart__buttons">
                  <button class="btn"  (click)="goPageCart()"  style="background-color: #03af8c;color: #ffffff;font-size: 14px"
                  >مشاهده سبد و تکمیل خرید
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>

  </div>
</div>

