<div class="container-fluid">
  <div class="col-sm-6 col-md-7">
    <div class="row row-center-menu">
      <img src="./assets/bootstrap/img/logo.png" alt="">
      <h2>همـراه دانـش</h2>
      <h6>آکادمی آموزشی همراه دانش با تیمی کاملا مجرب</h6>
    </div>
  </div>
  <div class="col-sm-6 col-md-5">
    <div class="row row-center-menu-left">
      <ul class="nav navbar-nav pull-left">
        <li><img style="width: 50px;height:50px;" src="./assets/bootstrap/img/teacher.png" alt=""><br><span><span>3215</span>اساتید</span></li>
        <li><img style="width: 50px;height: 50px;" src="./assets/bootstrap/img/user.png" alt=""><br><span><span style="color: #03af8c">3254</span>دانشجویان</span></li>
        <li><img style="width: 50px;height: 50px;" src="./assets/bootstrap/img/time.png" alt=""><br><span><span>3215</span>زمان</span></li>
      </ul>
    </div>
  </div>
</div>
