
<!--start-comment-description-->
<div class="container-fluid container-fluid-comments">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="row row-comments-users">
        <div class="row row-description-user">
          <div class="col-xs-2">
            <img class="img-responsive img-circle" src="/assets/bootstrap/img/default.png" alt="">
            <span>1399/12/11</span>
            <a href="#">12<span>رای</span></a>
          </div>
          <div class="col-xs-10">
            <span>رسول صیدی</span>
            <p>سلام و روزتون خوش
              ما میخوایم سایت خودمون رو به وردپرس تغییر دهیم ، میخوام بدونم اگر شما بخواید این سایت رو به وردپرس تغییر دهید و کارهای لازم برای آن را انجام دهید، هزینه و شرایط چیست؟
              در حال حاضر مشکل بزرگ سایت ما ، پشتیبانی آن هست که هر موردی را با آن ها مطرح میکنیم پس از کلی صبوری برای رفع و… با در بسته مواجه میشیم ، من میخوام بدونم ، امکان دسترسی به کدها و هاست رو به ما میدهید شما؟ چون در نبود دسترسی ، ما برای هر موردی باید برای رفع مشکلاتمون یا هزینه زمانی یا مالی دهیم، اما اگر دست خودمان باشد ، این مشکلات زیاد برای ما آزار دهنده نخواهد بود .این سایت ما هست، ممنون میشم بررسی بفرمایید:</p>
          </div>
        </div>
        <div class="row row-description-admin">
          <h6>همراه دانش</h6><br>
          <span>سلام دوست عزیز</span>
          <p>برای بررسی دقیق پروژه و شرایط پیاده سازی و اجرای آن لطفا با بخش مشاوره و فروش شرکت تماس بگیرید.
            بعد از پایان پروژه در صورت تمایل، کلیه کدها و اطلاعات در دسترس شما خواهد بود و قادر به تغییر آنها یا همکاری با شرکت های دیگر برای توسعه را خواهید داشت.</p>

        </div>
      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-4">
        <nav>
          <ul class="pagination pagination-sm">
            <li>
              <a href="#" name="previous">
                <span>&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">11</a></li>
            <li><a href="#">12</a></li>
            <li>
              <a href="#" name="next">
                <span>&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 ">
      <div class="row row-comments-description">
        <div class="caption ">
          <span class="col-xs-10 col-xs-offset-1">نظرات کاربران</span>
        </div>
        <div class="panel-body">

            <div class="col-md-8 col-md-offset-2">
              <div class="form-group  input-group">
                <span class="input-group-addon"><i class="fas fa-user-graduate"></i></span>
                <input class="form-control" name="name" type="text" placeholder="نام ونام خانوادگی">
              </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
              <div class="input-group form-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                <input class="form-control" type="email" name="email" placeholder="ایمیل">
              </div>
            </div>
            <div class="form-group input-group ">
              <textarea class="form-control " type="text" name="txt" placeholder="عبارت مورد نظر را وارد کنید"></textarea>
              <br>
              <button name="btn" class="btn btn-primary pull-left" type="submit" >ارسال</button>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!--end-comment-description-->
