<div class="container">
  <div class="row">
    <div class="col-md-11">
<div class="card">
  <table class="table table-borderless" *ngIf="typeProduct=='course'">

    <thead>
    <tr>
      <th scope="col" width="1rm">ردیف</th>
      <th scope="col" style="text-align: right">عنوان جلسه</th>
      <th scope="col" style="text-align: left">زمان دوره</th>
      <th scope="col" style="text-align: left" width="1rm">دانلود</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of Episode;let i = index">
      <th scope="row">{{i+1}}</th>
      <td style="text-align: right"><p>{{item.title}}</p></td>
      <td style="text-align: left">
        <span>{{item.time}}</span>
      </td>
      <td style="text-align: left" >
        <a  class="fas fa-download" [href]="item.videoUrl"></a>
      </td>
    </tr>

    </tbody>
  </table>
  <table class="table table-borderless" *ngIf="typeProduct!='course'">
    <thead>
    <tr>
      <th scope="col" width="1rm">ردیف</th>
      <th scope="col" style="text-align: right">عنوان</th>
      <th scope="col" style="text-align: left" width="1rm">دانلود</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td style="text-align: right"><p>{{course.title}}</p></td>

      <td style="text-align: left">
        <a  class="fas fa-download" [href]="course.linkFile"></a>
      </td>
    </tr>

    </tbody>
  </table>
</div>
    </div>
  </div>
</div>
