<div class="container">
  <div class="row">
    <div class="col-md-11">
<div class="card">
  <h5>دوره اموزشی انگولار 11</h5>
  <p>در این فیلم به صورت کاملا پروژه محور طراحی شده و بدون هیچ نوع خطا در فیلم های اموزشی یا خرابی فیلم میخوانید دانلود کنید چنانچه در هر کدام از فیلم ها به خطا مواجه شدین میتوانید با تماس به قسمت پشتیبانی و بر طرف شدن آن خطا میتوانید ان را دانلود کنید </p>
  <table class="table table-borderless">
    <thead>
    <tr>
      <th scope="col" width="1rm">ردیف</th>
      <th scope="col" style="text-align: right">عنوان</th>
      <th scope="col" style="text-align: left">دقیقه</th>
      <th scope="col" style="text-align: left" width="1rm">دانلود</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td style="text-align: right"><p>fgh</p></td>
      <td style="text-align: left">
        <span>20:24</span>
      </td>
      <td style="text-align: left" >
        <a  class="fas fa-download"></a>
      </td>
    </tr>

    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
    </div>
  </div>
</div>
