.p-button.p-button-icon-only { border-radius: 0;
} .image-gallery { text-align: center; padding: 1rem;
  }
.container .row .card h5{
  font-family: IRANSans_Bold;
}
.container .row .card p{
  font-family: IRANSans_Light;
}
.container .row .card .table thead{
  font-family: IRANSans_Bold;
}
.container .row .card .table tbody td span{
  background: #ffa331;
  margin-left: 5px;
  color: #FFFFFF;
  padding: 5px;
}
.container .row .card .table tbody td a{
  background: #03af8c;
  color: #FFFFFF;
  padding: 7px;
  border-radius: 15px;
}
