
.container-fluid .row-details{
  background-color: #009c7d;
  height: 80px;
}
.container-fluid .row-details h3{
  margin: 30px 50px 0px 0px;
  color: #ffffff;
  font-family: IRANSans_Bold;
  font-size: 20px;
}
.container-fluid .row-details .col-md-4{
  display: inline-flex;
  direction: ltr;
}
.container-fluid .row-details .col-md-4 span{
  text-align: center;
  margin: 20px 0px 0px 30px;
  color: #ffffff;
  font-family: IRANSans_Light;
}



