.card-body{
  font-family: IRANSans_Bold;
}
.example-card {
  box-shadow: 0 3px 15px 0 #e8e8e8;
  border-radius: 15px;
  border: 1px solid #ececec;
  padding: 30px 50px;
  background: #fff;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
mat-card-title{
  font-family: IRANSans_Bold;
  color: #009c7d;
}

.mat-card .mat-divider-horizontal.mat-divider {
  position: relative;
  left: 0;
  width: 100%;
  color: #ff5000;
  height: 2px;
}
.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}
mat-list-item{
  font-family:IRANSans_Bold ;
}
.card-title{
  font-family: IRANSans_Bold;
  text-align: center;
  font-size: 16px;

}
input {
  background: #dedede;
  border: none;
  padding: 9px 9px 9px 65px;
  border-radius: 10px;
  outline: 0;
  position: relative;
  width: 100%;
  margin-bottom: -3px;
  text-align: center;
}
.sumOfPrice{
  font-family: IRANSans_Bold;
}
.btn{
  font-family: IRANSans_Bold;
}
.ecart{
  display: block;
  margin-left: auto;
  margin-right: auto;
  //width: 50%;
}
