<app-top-menu dir="rtl"></app-top-menu>
<app-center-menu></app-center-menu>
<!--<p-toast [baseZIndex]="999999999" dir="rtl" position="center"></p-toast>-->

<div class="container p-mt-3">
  <div class="p-grid">
    <div class="p-col-12 p-md-8 p-lg-8">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>سبد خرید من</mat-card-title>

        </mat-card-header>
        <mat-card-content>
          <mat-divider class="dividerRight"></mat-divider>
          <div class="card mb-3" style="max-width: 540px;" dir="rtl">
            <div class="row g-0">
              <div class="col-md-3">
                <img src="../../../assets/bootstrap/img/logo.png" alt="...">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">دوره آموزشی آنگولار</h5>
                  <p class="card-text">مدرس: میلاد مقدسی</p>
                  <p class="card-text text-left"><small class="pi pi-trash" style="font-size: 20px"></small></p>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions dir="ltr" class="text-left">
          <p class="text-left">195000 تومان </p>

        </mat-card-actions>
      </mat-card>

    </div>
    <div class="p-col-12 p-md-4 p-lg-4">

      <mat-card class="example-card">
          <div class="p-d-flex p-flex-row" dir="rtl">
            <div class="p-ml-auto text-muted"> قیمت محصول  :</div>
            <div class="p-mr-3 text-muted">{{150000|number}}</div>
          </div>
        <mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-title class="p-mt-3 text-muted">اگر کد تخفیف دارید وارد کنید:</mat-card-title>
          <input type="text" name="coupon_code">

          <button mat-button type="button" class=" p-mt-3">ثبت</button>
          <mat-divider class="p-mt-4"></mat-divider>
          <div class="p-d-flex p-flex-row" dir="rtl">
            <div class="p-ml-auto text-muted"> مبلغ قابل پرداخت:</div>
            <div class="p-mr-3 text-muted">{{150000|number}}</div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class=" text-center">
<!--           <button pButton type="button" label="ادامه فرآیند خرید" class="p-button-success"></button>-->
            <button class="btn"  style="background-color: #ff5000;color: #ffffff;font-size: 14px">ادامه فرآیند خرید</button>

          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>



