.container-fluid{
  margin-top: 10px;
}
::ng-deep.ui-panel-titlebar{
  background: #FF8800!important;
  color: #fff!important;
  font-size: 17px;
  font-family: IRANSans_Bold;
}
::ng-deep .container-fluid th.ng-star-inserted {
  font-family: IRANSans_Bold;
  text-align: center;
}
