<p-toast position="center"></p-toast>
<div style="direction: rtl; text-align: right">
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="w-100 mt-3">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col">
            <label>آپلود تصویر اسلایدر</label>
            <p-fileUpload
              chooseLabel="انتخاب تصویر"
              uploadLabel="آپلود تصویر"
              cancelLabel="انصراف"
              customUpload="true"
              (uploadHandler)="imageUploader($event)"
              invalidFileSizeMessageDetail="حداکثر سایز فایل 5 مگابایت می باشد"
              invalidFileSizeMessageSummary="اندازه فایل بیش از حد مجاز می باشد"
              accept="image/jpeg,image/png" maxFileSize="5000000">
            </p-fileUpload>
            <ul class="mt-1 text-right list-inline"
                *ngFor="let error of errorMessages.imageurl">
              <li class="font-small text-danger font-weight-bold list-inline-item"
                  *ngIf="form.get('imageurl').hasError(error.type)
                                    && (form.get('imageurl').dirty
                                    || form.get('imageurl').touched)">
                {{ error.message }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<!--    <div class="p-fluid p-formgrid p-grid">-->
<!--      <div class="p-field p-col">-->
<!--        <label for="link">لینک</label>-->
<!--        <input id="link" type="text" pInputText-->
<!--               formControlName="link">-->
<!--      </div>-->
<!--      <div class="p-field p-col">-->
<!--        <label for="tag">تگ</label>-->
<!--        <input id="tag" type="text" pInputText-->
<!--               formControlName="tag">-->
<!--        <ul class="mt-1 text-right list-inline"-->
<!--            *ngFor="let error of errorMessages.tag">-->
<!--          <li class="font-small text-danger font-weight-bold list-inline-item"-->
<!--              *ngIf="form.get('tag').hasError(error.type)-->
<!--                            && (form.get('tag').dirty-->
<!--                            || form.get('tag').touched)">-->
<!--            {{ error.message }}-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
        <div class="float-left">
          <button pButton label="ثبت" class="ui-button-success p-button-icon-right"
                  icon="pi pi-check" iconPos="left" [disabled]="form.invalid"></button>
        </div>
      </div>
    </div>

  </form>
</div>
